extends common/layout.pug
include common/call.pug
include common/side.pug

block call
  +call()

block body
  div.am-page-body
    div.am-content.am-content--sides
      div.am-content__main
        h1.am-h1 Typography
        div.am-d Display Title. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, error?
        div.am-h1 Heading 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, voluptas!
        div.am-h2 Heading 2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, totam!
        div.am-h3 Heading 3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, sunt?
        div.am-h4 Heading 4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, optio!
        div.am-h5 Heading 5. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, in?
        div.am-h6 Heading 6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, incidunt?
        p.am-p #[span.am-regular Regular Text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, natus atque! Optio atque iure tempora eius a sint, blanditiis eos?]
        p.am-p #[span.am-regular Regular Text, once more. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quis voluptatibus repellat adipisci qui, itaque possimus laborum tempore enim minima?]
        p.am-p #[span.am-small Small Text. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi, architecto earum accusantium exercitationem natus vitae ullam autem? Ipsum, blanditiis.]
        p.am-p #[span.am-bold Bold] and also #[span.am-b bold] shortcut.
        p.am-p #[span.am-italic Italic] and also #[span.am-i italic] shortcut.
        p.am-p #[span.am-underline Underline] and also #[span.am-u underline] shortcut.
        p.am-p #[span.am-strikethrough Strikethrough] and also #[span.am-s strikethrough] shortcut.
        p.am-p Special #[span.am-subscript subscript] and also #[span.am-sub subscript] shortcut.
        p.am-p Special #[span.am-superscript superscript] and also #[span.am-sup superscript] shortcut.
        p.am-p #[span.am-mark Marked text], #[span.am-key Key text], #[span.am-code Code text] and also #[span.am-note Note text]
        pre.am-blockcode // Blockcode Text.
        pre.am-blockcode
          | // advanced example of blockcode
          |
          | document.addEventListener('load', () => {
          | fetch('https://example.org/api/users/1')
          |  .then(response => response.json())
          |  .then(user => console.log(user.fullName)); // -> 'John Doe'
          | });
        blockquote.am-blockquote Blockquote Text.
        blockquote.am-blockquote
          p.am-p #[span.am-i Advanced example of blockquote.]
          h1.am-h1 Lorem Ipsum
          p.am-p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aspernatur?
          p.am-p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti in earum distinctio quis enim eveniet ex temporibus, tenetur ipsam nemo.
          p.am-p Lorem ipsum dolor sit amet.
        p.am-p Unordered list example
        ul.am-list
          li Lorem item
          li Ipsum item
          li Dolor item
            ul.am-list
              li Sit item
              li Amet item
              li Consectetur item
          li Sit item
          li Amet item
        p.am-p Same, but ordered
        ol.am-list
          li Lorem item
          li Ipsum item
          li Dolor item
            ol.am-list
              li Sit item
              li Amet item
              li Consectetur item
          li Sit item
          li Amet item
        p.am-p Description list
        dl.am-list
          dt Lorem Ipsum
          dd Dolor sit amet consectetur adipisicing elit. Culpa nesciunt delectus quo recusandae dolorum. Error officia voluptatibus est ab nemo expedita delectus! Aliquam consequuntur, enim quod vero deserunt voluptate illum!
          dt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, asperiores?
          dd Provident vitae aliquid non alias ea cupiditate, impedit deserunt nam minus cum voluptatem dolor recusandae error ratione sequi eum sit molestiae sint ducimus? Tenetur nisi facere et veritatis tempore perferendis itaque provident odit maxime voluptas fugit, repudiandae harum est distinctio praesentium vitae cupiditate quis eaque? Consequatur dignissimos quia a! Tempore, maxime.
      div.am-content__side
        +side("text")
