.am-navbar {
  display: flex;
  gap: 18px;

  align-items: center;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--sides {
    justify-content: space-between;
  }

  & > .am-item {
    white-space: nowrap;

    &--trunk {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--max {
      flex-grow: 1;
    }

    &--min {
      flex-grow: 0;
    }
  }
}
