.am-input,
.am-select,
.am-textarea {
  @extend %-shared;

  & {
    & {
      min-width: $am-size-0;

      width: rem(192px);
      height: $am-size-2;

      padding: 0 $am-space-9;

      font-family: $am-font-family-regular;
      font-size: $am-font-size-6;
      font-weight: $am-font-weight-normal;

      border-style: solid;
      border-width: rem(1px);
      border-radius: $am-radius-regular;
    }

    &::placeholder {
      opacity: 1;
    }
  }

  & {
    & {
      color: lighten($am-color-black, 10%);
      background-color: lighten($am-color-black, 100%);
      border-color: lighten($am-color-black, 80%);

      &::placeholder {
        color: transparentize(lighten($am-color-black, 10%), 0.7);
      }
    }

    &:hover {
      border-color: lighten($am-color-black, 60%);
    }

    &:focus {
      border-color: $am-color-primary;
      box-shadow: -shared-input-box-shadow($am-color-primary);

      z-index: 1;

      &::placeholder {
        color: transparentize(lighten($am-color-black, 10%), 0.8);
      }
    }

    &:focus:hover {
      border-color: darken($am-color-primary, 15%);
    }
  }

  &--valid,
  &--validable:valid {
    & {
      border-color: $am-color-success;
    }

    &:hover {
      border-color: darken($am-color-success, 5%);
    }

    &:focus {
      border-color: darken($am-color-success, 5%);
      box-shadow: -shared-input-box-shadow($am-color-success);
    }

    &:focus:hover {
      border-color: darken($am-color-success, 5%);
    }
  }

  &--invalid,
  &--invalidable:invalid {
    & {
      border-color: $am-color-failure;
    }

    &:hover {
      border-color: darken($am-color-failure, 5%);
    }

    &:focus {
      border-color: darken($am-color-failure, 5%);
      box-shadow: -shared-input-box-shadow($am-color-failure);
    }

    &:focus:hover {
      border-color: darken($am-color-failure, 5%);
    }
  }

  &--ghost {
    border-color: transparent;
    background-color: transparent;
  }

  &--block {
    @extend .am-block;
    @include am-blockspace($am-space-3, $am-space-3);
  }

  &:disabled {
    cursor: not-allowed;

    color: transparentize(lighten($am-color-black, 10%), 0.5);
    background-color: transparentize(lighten($am-color-black, 75%), 0.5);

    border-color: transparentize(lighten($am-color-black, 80%), 0.5);
  }

  transition: color 0.2s, background-color 0.2s, border-color 0.2s,
    box-shadow 0.2s;

  &::placeholder {
    transition: color 0.2s;
  }
}

.am-input[list] {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.am-input[type='search'],
.am-input[type='time'],
.am-input[type='date'] {
  appearance: none;

  padding-top: rem(8px);
  padding-bottom: rem(8px);
}

.am-input[type='search']::-webkit-search-cancel-button,
.am-input[type='time']::-webkit-calendar-picker-indicator,
.am-input[type='date']::-webkit-calendar-picker-indicator {
  margin: 0 rem(-8px) 0 0;
  padding: 0;
  height: rem(30px);
  width: rem(30px);

  background-repeat: no-repeat;
  background-position: center right rem(4px);
  background-size: rem(24px);

  cursor: pointer;

  outline: none;
}

.am-input[type='search'] {
  &::-webkit-search-cancel-button {
    background-image: url('../assets/icons/times.svg');

    -webkit-appearance: none;
    opacity: 1;
  }
}

.am-input[type='time'] {
  &::-webkit-calendar-picker-indicator {
    background-image: url('../assets/icons/clock.svg');
  }
}

.am-input[type='date'] {
  &::-webkit-calendar-picker-indicator {
    background-image: url('../assets/icons/calendar.svg');
  }
}

.am-select {
  -webkit-appearance: none;
  -moz-appearance: none;

  max-width: 100%;
  padding-right: rem(34px);

  background-image: url('../assets/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: center right rem(4px);
  background-size: rem(24px);
}

.am-textarea {
  max-width: 100%;

  min-height: $am-size-2;
  height: ($am-size-2 * 2) + $am-space-9;

  padding: $am-space-9 $am-space-9;

  &--block {
    resize: vertical;
  }
}
