h1.am-h1 {
  font-size: 24pt;
  font-weight: 720;
}

h2.am-h2 {
  font-size: 18pt;
  font-weight: 720;
}

h3.am-h3 {
  font-size: 14pt;
  font-weight: 720;
}

h4.am-h4 {
  font-size: 13pt;
  font-weight: 600;
}

h5.am-h5 {
  font-size: 12pt;
  font-weight: 600;
}

h6.am-h6 {
  font-size: 11pt;
  font-weight: 600;
}
