@use '../../core';

.am-section {
  box-sizing: border-box;

  &--bang {
    background-color: lighten(core.$am-color-failure, 36%);
    border-bottom: solid 1px lighten(core.$am-color-black, 90%);
  }

  &--head {
    position: sticky;
    top: 0;

    background-color: core.$am-color-white;
    border-bottom: solid 1px lighten(core.$am-color-black, 90%);
  }

  &--hero {
    background-color: lighten(core.$am-color-primary, 36%);
    border-bottom: solid 1px lighten(core.$am-color-black, 90%);
  }

  &--body {
    min-height: 50vh;

    background-color: darken(core.$am-color-white, 5%);
  }

  &--foot {
    background-color: core.$am-color-white;
    border-top: solid 1px lighten(core.$am-color-black, 90%);
  }
}
