@function __shared-input-box-shadow($color) {
  @return 0px 0px 0px 3px transparentize($color, 0.65);
}

%-shared {
  outline: none;
  box-shadow: none;

  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  margin: 0;
  // margin: 16px 0;
}
