@use '../core';

%__shared-field-shaping {
  & {
    min-width: 80px;
    min-height: 34px;

    padding: 6px 8px;

    font-family: 'Segoe UI', sans-serif;
    font-size: 11pt;
    font-weight: 400;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
  }

  &::placeholder {
    opacity: 1;
  }
}

%__shared-field-coloring {
  & {
    color: lighten(core.$am-color-black, 10%);
    background-color: lighten(core.$am-color-black, 100%);
    background-color: #fff;
    border-color: lighten(core.$am-color-black, 80%);

    &::placeholder {
      color: transparentize(lighten(core.$am-color-black, 10%), 0.7);
    }
  }

  &:hover {
    border-color: lighten(core.$am-color-black, 60%);
  }

  &:focus {
    border-color: core.$am-color-primary;
    box-shadow: __shared-input-box-shadow(core.$am-color-primary);

    &::placeholder {
      color: transparentize(lighten(core.$am-color-black, 10%), 0.8);
    }
  }

  &:focus:hover {
    border-color: darken(core.$am-color-primary, 15%);
  }
}

%__shared-field-validable {
  & {
    border-color: core.$am-color-success;
  }

  &:hover {
    border-color: darken(core.$am-color-success, 15%);
  }

  &:focus {
    box-shadow: __shared-input-box-shadow(core.$am-color-success);
  }
}

%__shared-field-invalidable {
  & {
    border-color: core.$am-color-failure;
  }

  &:hover {
    border-color: darken(core.$am-color-failure, 15%);
  }

  &:focus {
    box-shadow: __shared-input-box-shadow(core.$am-color-failure);
  }
}

%__shared-field-disableable {
  &:disabled {
    cursor: not-allowed;

    color: transparentize(lighten(core.$am-color-black, 10%), 0.5);
    background-color: transparentize(lighten(core.$am-color-black, 75%), 0.5);

    border-color: transparentize(lighten(core.$am-color-black, 80%), 0.5);
  }
}

%__shared-field-ghost {
  & {
    border-color: transparent;
    background-color: transparent;
  }
}

%__shared-field-block {
  & {
    display: block;
    width: 100%;
  }
}

%__shared-field-transitions {
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;

  &::placeholder {
    transition: color 0.15s;
  }
}

@mixin __shared-field() {
  @extend %__shared;
  @extend %__shared-field-shaping;
  @extend %__shared-field-coloring;

  &--validable:valid {
    @extend %__shared-field-validable;
  }

  &--invalidable:invalid {
    @extend %__shared-field-invalidable;
  }

  &--ghost {
    @extend %__shared-field-ghost;
  }

  &--block {
    @extend %__shared-field-block;
  }

  @extend %__shared-field-disableable;
  @extend %__shared-field-transitions;
}

@mixin __shared-field-input-picker($name, $background-image-url) {
  & {
    padding-top: 0;
    padding-bottom: 0;
  }

  &::-webkit-#{$name} {
    margin: 0 -8px 0 0;
    padding: 0;
    height: 30px;
    width: 30px;

    background: none;
    background-image: url($background-image-url);
    background-repeat: no-repeat;
    background-position: center right 4px;
    background-size: 24px;

    cursor: pointer;
  }
}

input[type='text'].am-field {
  @include __shared-field();
}

input[type='search'].am-field {
  @include __shared-field();
  @include __shared-field-input-picker(
    search-cancel-button,
    '../assets/icons/times.svg'
  );

  &::-webkit-search-cancel-button {
    opacity: 1;
    -webkit-appearance: none;
  }
}

input[type='email'].am-field {
  @include __shared-field();
}

input[type='tel'].am-field {
  @include __shared-field();
}

input[type='url'].am-field {
  @include __shared-field();
}

input[type='password'].am-field {
  @include __shared-field();
}

input[type='number'].am-field {
  @include __shared-field();
}

input[type='time'].am-field {
  @include __shared-field();
  @include __shared-field-input-picker(
    calendar-picker-indicator,
    '../assets/icons/clock.svg'
  );
}

input[type='date'].am-field {
  @include __shared-field();
  @include __shared-field-input-picker(
    calendar-picker-indicator,
    '../assets/icons/calendar.svg'
  );
}

input[type='file'].am-field {
  @include __shared-field();
}

select.am-field {
  @include __shared-field();

  -webkit-appearance: none;
  -moz-appearance: none;

  max-width: 100%;
  padding-right: 34px;

  background-image: url('../assets/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-size: 24px;
}

textarea.am-field {
  @include __shared-field();

  display: block;

  width: 100%;
  height: 74px;
  line-height: 145%;

  resize: vertical;
}

input[list]::-webkit-calendar-picker-indicator {
  display: none;
}
