%__shared-field-shaping {
  & {
    min-width: 80px;
    min-height: 34px;

    padding: 6px 8px;

    font-family: 'Segoe UI', sans-serif;
    font-size: 11pt;
    font-weight: 400;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
  }

  &::placeholder {
    opacity: 1;
  }
}

%__shared-field-coloring {
  & {
    color: lighten($am-color-black, 10%);
    background-color: lighten($am-color-black, 100%);
    background-color: #fff;
    border-color: lighten($am-color-black, 80%);

    &::placeholder {
      color: transparentize(lighten($am-color-black, 10%), 0.7);
    }
  }

  &:hover {
    border-color: lighten($am-color-black, 60%);
  }

  &:focus {
    border-color: $am-color-primary;
    box-shadow: __shared-input-box-shadow($am-color-primary);

    &::placeholder {
      color: transparentize(lighten($am-color-black, 10%), 0.8);
    }
  }

  &:focus:hover {
    border-color: darken($am-color-primary, 15%);
  }
}

%__shared-field-validable {
  & {
    border-color: $am-color-success;
  }

  &:hover {
    border-color: darken($am-color-success, 15%);
  }

  &:focus {
    box-shadow: __shared-input-box-shadow($am-color-success);
  }
}

%__shared-field-invalidable {
  & {
    border-color: $am-color-failure;
  }

  &:hover {
    border-color: darken($am-color-failure, 15%);
  }

  &:focus {
    box-shadow: __shared-input-box-shadow($am-color-failure);
  }
}

%__shared-field-disableable {
  &:disabled {
    cursor: not-allowed;

    color: transparentize(lighten($am-color-black, 10%), 0.5);
    background-color: transparentize(lighten($am-color-black, 75%), 0.5);

    border-color: transparentize(lighten($am-color-black, 80%), 0.5);
  }
}

%__shared-field-ghost {
  & {
    border-color: transparent;
    background-color: transparent;
  }
}

%__shared-field-block {
  & {
    display: block;
    width: 100%;
  }
}

%__shared-field-transitions {
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;

  &::placeholder {
    transition: color 0.15s;
  }
}

@mixin __shared-field() {
  @extend %__shared;
  @extend %__shared-field-shaping;
  @extend %__shared-field-coloring;

  &--validable:valid {
    @extend %__shared-field-validable;
  }

  &--invalidable:invalid {
    @extend %__shared-field-invalidable;
  }

  &--ghost {
    @extend %__shared-field-ghost;
  }

  &--block {
    @extend %__shared-field-block;
  }

  @extend %__shared-field-disableable;
  @extend %__shared-field-transitions;
}

@mixin __shared-field-input-picker($background-image-url) {
  & {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  &::-webkit-calendar-picker-indicator {
    @include am-debug();

    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;

    background: none;

    background-image: url($background-image-url);
    background-repeat: no-repeat;
    background-position: center right 6px;
    background-size: 18px;

    cursor: pointer;
  }
}

input[type='text'].am-field {
  @include __shared-field();
}

input[type='search'].am-field {
  @include __shared-field();
}

input[type='email'].am-field {
  @include __shared-field();
}

input[type='tel'].am-field {
  @include __shared-field();
}

input[type='url'].am-field {
  @include __shared-field();
}

input[type='password'].am-field {
  @include __shared-field();

  & {
    letter-spacing: 2px;
  }
}

input[type='number'].am-field {
  @include __shared-field();
}

input[type='time'].am-field {
  @include __shared-field();
  @include __shared-field-input-picker(
    '../assets/icon-inputs-field-input-time.svg'
  );
}

input[type='date'].am-field {
  @include __shared-field();
  @include __shared-field-input-picker(
    '../assets/icon-inputs-field-input-date.svg'
  );
}

input[type='file'].am-field {
  @include __shared-field();
}

select.am-field {
  @include __shared-field();

  & {
    -webkit-appearance: none;
    -moz-appearance: none;

    max-width: 100%;
    padding-right: 30px;

    background-image: url('../assets/icon-inputs-field-select.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 12px;
  }
}

textarea.am-field {
  @include __shared-field();

  & {
    display: block;
    width: 100%;
    height: 74px;

    line-height: 145%;

    resize: vertical;
  }
}
