@use '../core';

%__shared-radio-shaping {
  min-height: 32px;
  min-width: 18px;

  width: 18px;

  // TODO: Remove when `appearance` will be supported
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  cursor: pointer;

  &::before {
    content: ' ';
    display: block;

    width: 16px;
    height: 16px;

    margin-top: 7px;

    border-style: solid;
    border-width: 1px;
    border-radius: 10000px;
  }
}

%__shared-radio-coloring {
  & {
    &::before {
      background-color: lighten(core.$am-color-black, 100%);
      background-size: 0px;
      border-color: lighten(core.$am-color-black, 80%);
    }

    &:hover::before {
      border-color: lighten(core.$am-color-black, 60%);
    }

    &:focus::before {
      box-shadow: __shared-input-box-shadow(core.$am-color-primary);
    }
  }

  &:checked {
    &::before {
      border-color: transparent;
      background-color: core.$am-color-primary;

      background-image: url('../assets/icons/radio.svg');
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover::before {
      background-color: darken(core.$am-color-primary, 15%);
    }
  }
}

%__shared-radio-disableable {
  &:disabled {
    cursor: not-allowed;

    & {
      &::before {
        border-color: transparentize(lighten(core.$am-color-black, 80%), 0.5);
      }
    }

    &:checked {
      &::before {
        border-color: transparent;
        background-color: transparentize(core.$am-color-primary, 0.5);
      }
    }
  }
}

%__shared-radio-transitions {
  & {
    &::before {
      transition: background-color 0.15s, background-size 0.15s,
        border-color 0.15s, box-shadow 0.15s;
    }
  }
}

input[type='radio'].am-radio {
  @extend %__shared;
  @extend %__shared-radio-shaping;
  @extend %__shared-radio-coloring;
  @extend %__shared-radio-disableable;
  @extend %__shared-radio-transitions;
}
