@import './breakpoints';
@import './fonts';
@import './palette';
@import './utils';
@import './units';

@import './debug';

.am {
  margin: 0;

  color: lighten($am-palette-black, 20%);

  font-family: $am-font-family-regular;
  font-size: $am-font-size-6;
  font-weight: $am-font-weight-normal;
}
