$am-font-family-regular:    'system-ui', sans-serif; // NEXT: ui-sans-serif
$am-font-family-monospace:  monospace;               // NEXT: ui-monospace

$am-font-size-0:            4.500rem;
$am-font-size-1:            3.000rem;
$am-font-size-2:            2.250rem;
$am-font-size-3:            1.500rem;
$am-font-size-4:            1.250rem;
$am-font-size-5:            1.125rem;
$am-font-size-6:            1.000rem;
$am-font-size-7:            0.875rem;

$am-font-weight-thin:       200;
$am-font-weight-normal:     400;
$am-font-weight-bold:       700;
$am-font-weight-bolder:     900;

$am-letter-spacing-0:      -0.02rem;
$am-letter-spacing-1:      -0.01rem;

$am-line-height-0:          1.25;
$am-line-height-1:          1.50;
