body.am {
  font-family: 'Segoe UI', sans-serif;
  font-size: 12pt;
}

h1.am-h1 {
  font-size: 24pt;
  font-weight: 720;
}

h2.am-h2 {
  font-size: 18pt;
  font-weight: 720;
}

h3.am-h3 {
  font-size: 14pt;
  font-weight: 720;
}

h4.am-h4 {
  font-size: 13pt;
  font-weight: 600;
}

h5.am-h5 {
  font-size: 12pt;
  font-weight: 600;
}

h6.am-h6 {
  font-size: 11pt;
  font-weight: 600;
}

.am-table {
  border-collapse: collapse;
  width: 100%;
}

.am-table th {
  text-align: left;
  font-weight: 600;
}

.am-table thead tr {
  border-bottom: solid 1px #999999;
}

.am-table tbody tr {
  border-top: solid 1px #cccccc;
}

.am-table tbody tr:first-child {
  border-top: 0;
}

.am-table tfoot tr {
  border-top: solid 1px #999999;
}

.am-table--type-comfy th {
  font-size: 10pt;
  padding: 8px 12px;
}

.am-table--type-comfy td {
  font-size: 11pt;
  padding: 8px 12px;
}

.am-table--type-compact th {
  font-size: 10pt;
  padding: 8px 12px;
}

.am-table--type-compact td {
  font-size: 11pt;
  padding: 8px 12px;
}

.am-table--type-compact th,
.am-table--type-compact td {
  padding: 4px 4px;
  font-size: 11pt;
  border-left: solid 1px #999999;
}

.am-table--type-compact th:first-child,
.am-table--type-compact td:first-child {
  border-left: none;
}

.am-table--interactive tbody tr {
  transition: background-color 0.16s;
  cursor: pointer;
}

.am-table--interactive tbody tr:hover {
  background-color: #d9d9d9;
}

.am-table--interactive tbody tr:active {
  background-color: #cccccc;
}

.am-table--mark-primary {
  background-color: #d9e1f9;
}

.am-table--interactive .am-table--mark-primary:hover {
  background-color: #d0daf8;
}

.am-table--interactive .am-table--mark-primary:active {
  background-color: #c6d2f6;
}

.am-table--selection-primary {
  border-color: #b3c3f3 !important;
}

.am-table--mark-neutral {
  background-color: #e6e6e6;
}

.am-table--interactive .am-table--mark-neutral:hover {
  background-color: #dfdfdf;
}

.am-table--interactive .am-table--mark-neutral:active {
  background-color: #d9d9d9;
}

.am-table--selection-neutral {
  border-color: #cccccc !important;
}

.am-table--mark-success {
  background-color: #d3e8d3;
}

.am-table--interactive .am-table--mark-success:hover {
  background-color: #c8e2c8;
}

.am-table--interactive .am-table--mark-success:active {
  background-color: #bddcbd;
}

.am-table--selection-success {
  border-color: #a7d1a7 !important;
}

.am-table--mark-warning {
  background-color: #ffdacc;
}

.am-table--interactive .am-table--mark-warning:hover {
  background-color: #ffd1bf;
}

.am-table--interactive .am-table--mark-warning:active {
  background-color: #ffc7b3;
}

.am-table--selection-warning {
  border-color: #ffb599 !important;
}

.am-table--mark-failure {
  background-color: #f8d0d8;
}

.am-table--interactive .am-table--mark-failure:hover {
  background-color: #f6c4ce;
}

.am-table--interactive .am-table--mark-failure:active {
  background-color: #f5b9c5;
}

.am-table--selection-failure {
  border-color: #f1a1b1 !important;
}

.am-table--selection-t {
  border-top-width: 3px !important;
  border-top-style: solid;
}

.am-table--selection-r {
  border-right-width: 3px !important;
  border-right-style: solid;
}

.am-table--selection-tr {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
}

.am-table--selection-b {
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}

.am-table--selection-tb {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}

.am-table--selection-rb {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}

.am-table--selection-trb {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}

.am-table--selection-l {
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-tl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-rl {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-trl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-bl {
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-tbl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-rbl {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-trbl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--selection-a {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}

.am-table--align-a {
  text-align: center;
  vertical-align: middle;
}

.am-table--align-t {
  vertical-align: top;
}

.am-table--align-tl {
  text-align: left;
  vertical-align: top;
}

.am-table--align-tc {
  text-align: center;
  vertical-align: top;
}

.am-table--align-tr {
  text-align: right;
  vertical-align: top;
}

.am-table--align-m {
  vertical-align: middle;
}

.am-table--align-ml {
  text-align: left;
  vertical-align: middle;
}

.am-table--align-mc {
  text-align: center;
  vertical-align: middle;
}

.am-table--align-mr {
  text-align: right;
  vertical-align: middle;
}

.am-table--align-b {
  vertical-align: bottom;
}

.am-table--align-bl {
  text-align: left;
  vertical-align: bottom;
}

.am-table--align-bc {
  text-align: center;
  vertical-align: bottom;
}

.am-table--align-br {
  text-align: right;
  vertical-align: bottom;
}

.am-table--align-l {
  text-align: left;
}

.am-table--align-c {
  text-align: left;
}

.am-table--align-r {
  text-align: left;
}

.am-table--nowrap {
  white-space: nowrap;
}

.am-table--thin {
  width: 1%;
}

input.am-check[type='checkbox'], input.am-field[type='text'], input.am-field[type='search'], input.am-field[type='email'], input.am-field[type='tel'], input.am-field[type='url'], input.am-field[type='password'], input.am-field[type='number'], input.am-field[type='time'], input.am-field[type='date'], input.am-field[type='file'], select.am-field, textarea.am-field, input.am-radio[type='radio'], input.am-toggle[type='checkbox'] {
  outline: none;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
}

input.am-check[type='checkbox'] {
  min-height: 32px;
  min-width: 18px;
  width: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input.am-check[type='checkbox']::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

input.am-check[type='checkbox']::before {
  background-color: white;
  background-size: 0px;
  border-color: #cccccc;
}

input.am-check[type='checkbox']:hover::before {
  border-color: #999999;
}

input.am-check[type='checkbox']:focus::before {
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}

input.am-check[type='checkbox']:checked::before {
  border-color: transparent;
  background-color: royalblue;
  background-image: url("../assets/icon-inputs-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

input.am-check[type='checkbox']:checked:hover::before {
  background-color: #1d44b8;
}

input.am-check:disabled[type='checkbox'] {
  cursor: not-allowed;
}

input.am-check[type='checkbox']:disabled::before {
  border-color: rgba(204, 204, 204, 0.5);
}

input.am-check[type='checkbox']:disabled:checked::before {
  border-color: transparent;
  background-color: rgba(65, 105, 225, 0.5);
}

input.am-check[type='checkbox']::before {
  transition: background-color 0.15s, background-size 0.15s, border-color 0.15s, box-shadow 0.15s;
}

input.am-field[type='text'], input.am-field[type='search'], input.am-field[type='email'], input.am-field[type='tel'], input.am-field[type='url'], input.am-field[type='password'], input.am-field[type='number'], input.am-field[type='time'], input.am-field[type='date'], input.am-field[type='file'], select.am-field, textarea.am-field {
  min-width: 80px;
  min-height: 34px;
  padding: 6px 8px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

input.am-field[type='text']::placeholder, input.am-field[type='search']::placeholder, input.am-field[type='email']::placeholder, input.am-field[type='tel']::placeholder, input.am-field[type='url']::placeholder, input.am-field[type='password']::placeholder, input.am-field[type='number']::placeholder, input.am-field[type='time']::placeholder, input.am-field[type='date']::placeholder, input.am-field[type='file']::placeholder, select.am-field::placeholder, textarea.am-field::placeholder {
  opacity: 1;
}

input.am-field[type='text'], input.am-field[type='search'], input.am-field[type='email'], input.am-field[type='tel'], input.am-field[type='url'], input.am-field[type='password'], input.am-field[type='number'], input.am-field[type='time'], input.am-field[type='date'], input.am-field[type='file'], select.am-field, textarea.am-field {
  color: #1a1a1a;
  background-color: white;
  background-color: #fff;
  border-color: #cccccc;
}

input.am-field[type='text']::placeholder, input.am-field[type='search']::placeholder, input.am-field[type='email']::placeholder, input.am-field[type='tel']::placeholder, input.am-field[type='url']::placeholder, input.am-field[type='password']::placeholder, input.am-field[type='number']::placeholder, input.am-field[type='time']::placeholder, input.am-field[type='date']::placeholder, input.am-field[type='file']::placeholder, select.am-field::placeholder, textarea.am-field::placeholder {
  color: rgba(26, 26, 26, 0.3);
}

input.am-field:hover[type='text'], input.am-field:hover[type='search'], input.am-field:hover[type='email'], input.am-field:hover[type='tel'], input.am-field:hover[type='url'], input.am-field:hover[type='password'], input.am-field:hover[type='number'], input.am-field:hover[type='time'], input.am-field:hover[type='date'], input.am-field:hover[type='file'], select.am-field:hover, textarea.am-field:hover {
  border-color: #999999;
}

input.am-field:focus[type='text'], input.am-field:focus[type='search'], input.am-field:focus[type='email'], input.am-field:focus[type='tel'], input.am-field:focus[type='url'], input.am-field:focus[type='password'], input.am-field:focus[type='number'], input.am-field:focus[type='time'], input.am-field:focus[type='date'], input.am-field:focus[type='file'], select.am-field:focus, textarea.am-field:focus {
  border-color: royalblue;
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}

input.am-field[type='text']:focus::placeholder, input.am-field[type='search']:focus::placeholder, input.am-field[type='email']:focus::placeholder, input.am-field[type='tel']:focus::placeholder, input.am-field[type='url']:focus::placeholder, input.am-field[type='password']:focus::placeholder, input.am-field[type='number']:focus::placeholder, input.am-field[type='time']:focus::placeholder, input.am-field[type='date']:focus::placeholder, input.am-field[type='file']:focus::placeholder, select.am-field:focus::placeholder, textarea.am-field:focus::placeholder {
  color: rgba(26, 26, 26, 0.2);
}

input.am-field:focus:hover[type='text'], input.am-field:focus:hover[type='search'], input.am-field:focus:hover[type='email'], input.am-field:focus:hover[type='tel'], input.am-field:focus:hover[type='url'], input.am-field:focus:hover[type='password'], input.am-field:focus:hover[type='number'], input.am-field:focus:hover[type='time'], input.am-field:focus:hover[type='date'], input.am-field:focus:hover[type='file'], select.am-field:focus:hover, textarea.am-field:focus:hover {
  border-color: #1d44b8;
}

input.am-field--validable[type='text']:valid, input.am-field--validable[type='search']:valid, input.am-field--validable[type='email']:valid, input.am-field--validable[type='tel']:valid, input.am-field--validable[type='url']:valid, input.am-field--validable[type='password']:valid, input.am-field--validable[type='number']:valid, input.am-field--validable[type='time']:valid, input.am-field--validable[type='date']:valid, input.am-field--validable[type='file']:valid, select.am-field--validable:valid, textarea.am-field--validable:valid {
  border-color: forestgreen;
}

input.am-field--validable:hover[type='text']:valid, input.am-field--validable:hover[type='search']:valid, input.am-field--validable:hover[type='email']:valid, input.am-field--validable:hover[type='tel']:valid, input.am-field--validable:hover[type='url']:valid, input.am-field--validable:hover[type='password']:valid, input.am-field--validable:hover[type='number']:valid, input.am-field--validable:hover[type='time']:valid, input.am-field--validable:hover[type='date']:valid, input.am-field--validable:hover[type='file']:valid, select.am-field--validable:hover:valid, textarea.am-field--validable:hover:valid {
  border-color: #134e13;
}

input.am-field--validable:focus[type='text']:valid, input.am-field--validable:focus[type='search']:valid, input.am-field--validable:focus[type='email']:valid, input.am-field--validable:focus[type='tel']:valid, input.am-field--validable:focus[type='url']:valid, input.am-field--validable:focus[type='password']:valid, input.am-field--validable:focus[type='number']:valid, input.am-field--validable:focus[type='time']:valid, input.am-field--validable:focus[type='date']:valid, input.am-field--validable:focus[type='file']:valid, select.am-field--validable:focus:valid, textarea.am-field--validable:focus:valid {
  box-shadow: 0px 0px 0px 3px rgba(34, 139, 34, 0.35);
}

input.am-field--invalidable[type='text']:invalid, input.am-field--invalidable[type='search']:invalid, input.am-field--invalidable[type='email']:invalid, input.am-field--invalidable[type='tel']:invalid, input.am-field--invalidable[type='url']:invalid, input.am-field--invalidable[type='password']:invalid, input.am-field--invalidable[type='number']:invalid, input.am-field--invalidable[type='time']:invalid, input.am-field--invalidable[type='date']:invalid, input.am-field--invalidable[type='file']:invalid, select.am-field--invalidable:invalid, textarea.am-field--invalidable:invalid {
  border-color: crimson;
}

input.am-field--invalidable:hover[type='text']:invalid, input.am-field--invalidable:hover[type='search']:invalid, input.am-field--invalidable:hover[type='email']:invalid, input.am-field--invalidable:hover[type='tel']:invalid, input.am-field--invalidable:hover[type='url']:invalid, input.am-field--invalidable:hover[type='password']:invalid, input.am-field--invalidable:hover[type='number']:invalid, input.am-field--invalidable:hover[type='time']:invalid, input.am-field--invalidable:hover[type='date']:invalid, input.am-field--invalidable:hover[type='file']:invalid, select.am-field--invalidable:hover:invalid, textarea.am-field--invalidable:hover:invalid {
  border-color: #960e29;
}

input.am-field--invalidable:focus[type='text']:invalid, input.am-field--invalidable:focus[type='search']:invalid, input.am-field--invalidable:focus[type='email']:invalid, input.am-field--invalidable:focus[type='tel']:invalid, input.am-field--invalidable:focus[type='url']:invalid, input.am-field--invalidable:focus[type='password']:invalid, input.am-field--invalidable:focus[type='number']:invalid, input.am-field--invalidable:focus[type='time']:invalid, input.am-field--invalidable:focus[type='date']:invalid, input.am-field--invalidable:focus[type='file']:invalid, select.am-field--invalidable:focus:invalid, textarea.am-field--invalidable:focus:invalid {
  box-shadow: 0px 0px 0px 3px rgba(220, 20, 60, 0.35);
}

input.am-field:disabled[type='text'], input.am-field:disabled[type='search'], input.am-field:disabled[type='email'], input.am-field:disabled[type='tel'], input.am-field:disabled[type='url'], input.am-field:disabled[type='password'], input.am-field:disabled[type='number'], input.am-field:disabled[type='time'], input.am-field:disabled[type='date'], input.am-field:disabled[type='file'], select.am-field:disabled, textarea.am-field:disabled {
  cursor: not-allowed;
  color: rgba(26, 26, 26, 0.5);
  background-color: rgba(191, 191, 191, 0.5);
  border-color: rgba(204, 204, 204, 0.5);
}

input.am-field--ghost[type='text'], input.am-field--ghost[type='search'], input.am-field--ghost[type='email'], input.am-field--ghost[type='tel'], input.am-field--ghost[type='url'], input.am-field--ghost[type='password'], input.am-field--ghost[type='number'], input.am-field--ghost[type='time'], input.am-field--ghost[type='date'], input.am-field--ghost[type='file'], select.am-field--ghost, textarea.am-field--ghost {
  border-color: transparent;
  background-color: transparent;
}

input.am-field--block[type='text'], input.am-field--block[type='search'], input.am-field--block[type='email'], input.am-field--block[type='tel'], input.am-field--block[type='url'], input.am-field--block[type='password'], input.am-field--block[type='number'], input.am-field--block[type='time'], input.am-field--block[type='date'], input.am-field--block[type='file'], select.am-field--block, textarea.am-field--block {
  display: block;
  width: 100%;
}

input.am-field[type='text'], input.am-field[type='search'], input.am-field[type='email'], input.am-field[type='tel'], input.am-field[type='url'], input.am-field[type='password'], input.am-field[type='number'], input.am-field[type='time'], input.am-field[type='date'], input.am-field[type='file'], select.am-field, textarea.am-field {
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

input.am-field[type='text']::placeholder, input.am-field[type='search']::placeholder, input.am-field[type='email']::placeholder, input.am-field[type='tel']::placeholder, input.am-field[type='url']::placeholder, input.am-field[type='password']::placeholder, input.am-field[type='number']::placeholder, input.am-field[type='time']::placeholder, input.am-field[type='date']::placeholder, input.am-field[type='file']::placeholder, select.am-field::placeholder, textarea.am-field::placeholder {
  transition: color 0.15s;
}

input[type='password'].am-field {
  letter-spacing: 2px;
}

input[type='time'].am-field {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

input[type='time'].am-field::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  background: none;
  background-image: url("../assets/icon-inputs-field-input-time.svg");
  background-repeat: no-repeat;
  background-position: center right 6px;
  background-size: 18px;
  cursor: pointer;
}

input[type='time'].am-field::-webkit-calendar-picker-indicator {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: 1px !important;
  outline-color: rgba(255, 0, 255, 0.8) !important;
  background-color: rgba(255, 0, 255, 0.2) !important;
}

input[type='date'].am-field {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

input[type='date'].am-field::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  background: none;
  background-image: url("../assets/icon-inputs-field-input-date.svg");
  background-repeat: no-repeat;
  background-position: center right 6px;
  background-size: 18px;
  cursor: pointer;
}

input[type='date'].am-field::-webkit-calendar-picker-indicator {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: 1px !important;
  outline-color: rgba(255, 0, 255, 0.8) !important;
  background-color: rgba(255, 0, 255, 0.2) !important;
}

select.am-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 100%;
  padding-right: 30px;
  background-image: url("../assets/icon-inputs-field-select.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 12px;
}

textarea.am-field {
  display: block;
  width: 100%;
  height: 74px;
  line-height: 145%;
  resize: vertical;
}

input.am-radio[type='radio'] {
  min-height: 32px;
  min-width: 18px;
  width: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input.am-radio[type='radio']::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10000px;
}

input.am-radio[type='radio']::before {
  background-color: white;
  background-size: 0px;
  border-color: #cccccc;
}

input.am-radio[type='radio']:hover::before {
  border-color: #999999;
}

input.am-radio[type='radio']:focus::before {
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}

input.am-radio[type='radio']:checked::before {
  border-color: transparent;
  background-color: royalblue;
  background-image: url("../assets/icon-inputs-radio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
}

input.am-radio[type='radio']:checked:hover::before {
  background-color: #1d44b8;
}

input.am-radio:disabled[type='radio'] {
  cursor: not-allowed;
}

input.am-radio[type='radio']:disabled::before {
  border-color: rgba(204, 204, 204, 0.5);
}

input.am-radio[type='radio']:disabled:checked::before {
  border-color: transparent;
  background-color: rgba(65, 105, 225, 0.5);
}

input.am-radio[type='radio']::before {
  transition: background-color 0.15s, background-size 0.15s, border-color 0.15s, box-shadow 0.15s;
}

input.am-toggle[type='checkbox'] {
  min-height: 32px;
  min-width: 34px;
  width: 34px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input.am-toggle[type='checkbox']::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 18px;
  margin-top: 7px;
  margin-left: 0px;
  border-radius: 1000px;
}

input.am-toggle[type='checkbox']::after {
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -15px;
  margin-left: 3px;
  border-radius: 50%;
}

input.am-toggle[type='checkbox']:checked::after {
  margin-left: calc(100% - 15px);
}

input.am-toggle[type='checkbox']::before {
  background-color: #cccccc;
}

input.am-toggle[type='checkbox']::after {
  background-color: #f2f2f2;
}

input.am-toggle[type='checkbox']:hover::before {
  background-color: #999999;
}

input.am-toggle[type='checkbox']:focus::before {
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}

input.am-toggle[type='checkbox']:checked::before {
  border-color: royalblue;
  background-color: royalblue;
}

input.am-toggle[type='checkbox']:checked::after {
  background-color: #f2f2f2;
}

input.am-toggle[type='checkbox']:checked:hover::before {
  background-color: #1d44b8;
}

input.am-toggle:disabled[type='checkbox'] {
  cursor: not-allowed;
}

input.am-toggle[type='checkbox']:disabled::before {
  background-color: rgba(204, 204, 204, 0.5);
}

input.am-toggle[type='checkbox']:disabled:checked::before {
  background-color: rgba(65, 105, 225, 0.5);
}

input.am-toggle[type='checkbox']::before {
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

input.am-toggle[type='checkbox']::after {
  transition: background-color 0.15s, border-color 0.15s, margin-left 0.15s;
}

hr.am-hr {
  border: none;
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

button.am-button, input[type='button'], input[type='submit'] {
  outline: none;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  font-family: 'Segoe UI';
  font-size: 11pt;
  font-weight: 600;
  white-space: nowrap;
  min-width: 80px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

button.am-button.am-button--primary:focus {
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}

button.am-button.am-button--primary:disabled {
  cursor: not-allowed;
}

button.am-button.am-button--primary.am-button--main {
  color: #ffffff;
  background-color: royalblue;
  border-color: transparent;
}

button.am-button.am-button--primary.am-button--main:hover {
  background-color: #1d44b8;
}

button.am-button.am-button--primary.am-button--main:active {
  background-color: #839deb;
}

button.am-button.am-button--primary.am-button--main:disabled {
  background-color: rgba(179, 195, 243, 0.9);
}

button.am-button.am-button--primary.am-button--misc {
  color: royalblue;
  background-color: transparent;
  border-color: royalblue;
}

button.am-button.am-button--primary.am-button--misc:hover {
  color: #ffffff;
  background-color: #1d44b8;
  border-color: transparent;
}

button.am-button.am-button--primary.am-button--misc:active {
  background-color: #839deb;
}

button.am-button.am-button--primary.am-button--misc:disabled {
  color: rgba(65, 105, 225, 0.5);
  background-color: transparent;
  border-color: rgba(65, 105, 225, 0.5);
}

button.am-button.am-button--primary.am-button--text {
  color: royalblue;
  background-color: transparent;
  border-color: transparent;
}

button.am-button.am-button--primary.am-button--text:hover {
  color: #ffffff;
  background-color: #1d44b8;
}

button.am-button.am-button--primary.am-button--text:active {
  background-color: #839deb;
}

button.am-button.am-button--primary.am-button--text:disabled {
  color: rgba(65, 105, 225, 0.5);
  background-color: transparent;
}

button.am-button.am-button--success:focus {
  box-shadow: 0px 0px 0px 3px rgba(34, 139, 34, 0.35);
}

button.am-button.am-button--success:disabled {
  cursor: not-allowed;
}

button.am-button.am-button--success.am-button--main {
  color: #ffffff;
  background-color: forestgreen;
  border-color: transparent;
}

button.am-button.am-button--success.am-button--main:hover {
  background-color: #134e13;
}

button.am-button.am-button--success.am-button--main:active {
  background-color: #31c831;
}

button.am-button.am-button--success.am-button--main:disabled {
  background-color: rgba(167, 209, 167, 0.9);
}

button.am-button.am-button--success.am-button--misc {
  color: forestgreen;
  background-color: transparent;
  border-color: forestgreen;
}

button.am-button.am-button--success.am-button--misc:hover {
  color: #ffffff;
  background-color: #134e13;
  border-color: transparent;
}

button.am-button.am-button--success.am-button--misc:active {
  background-color: #31c831;
}

button.am-button.am-button--success.am-button--misc:disabled {
  color: rgba(34, 139, 34, 0.5);
  background-color: transparent;
  border-color: rgba(34, 139, 34, 0.5);
}

button.am-button.am-button--success.am-button--text {
  color: forestgreen;
  background-color: transparent;
  border-color: transparent;
}

button.am-button.am-button--success.am-button--text:hover {
  color: #ffffff;
  background-color: #134e13;
}

button.am-button.am-button--success.am-button--text:active {
  background-color: #31c831;
}

button.am-button.am-button--success.am-button--text:disabled {
  color: rgba(34, 139, 34, 0.5);
  background-color: transparent;
}

button.am-button.am-button--warning:focus {
  box-shadow: 0px 0px 0px 3px rgba(255, 69, 0, 0.35);
}

button.am-button.am-button--warning:disabled {
  cursor: not-allowed;
}

button.am-button.am-button--warning.am-button--main {
  color: #ffffff;
  background-color: orangered;
  border-color: transparent;
}

button.am-button.am-button--warning.am-button--main:hover {
  background-color: #b33000;
}

button.am-button.am-button--warning.am-button--main:active {
  background-color: #ff7d4d;
}

button.am-button.am-button--warning.am-button--main:disabled {
  background-color: rgba(255, 181, 153, 0.9);
}

button.am-button.am-button--warning.am-button--misc {
  color: orangered;
  background-color: transparent;
  border-color: orangered;
}

button.am-button.am-button--warning.am-button--misc:hover {
  color: #ffffff;
  background-color: #b33000;
  border-color: transparent;
}

button.am-button.am-button--warning.am-button--misc:active {
  background-color: #ff7d4d;
}

button.am-button.am-button--warning.am-button--misc:disabled {
  color: rgba(255, 69, 0, 0.5);
  background-color: transparent;
  border-color: rgba(255, 69, 0, 0.5);
}

button.am-button.am-button--warning.am-button--text {
  color: orangered;
  background-color: transparent;
  border-color: transparent;
}

button.am-button.am-button--warning.am-button--text:hover {
  color: #ffffff;
  background-color: #b33000;
}

button.am-button.am-button--warning.am-button--text:active {
  background-color: #ff7d4d;
}

button.am-button.am-button--warning.am-button--text:disabled {
  color: rgba(255, 69, 0, 0.5);
  background-color: transparent;
}

button.am-button.am-button--failure:focus {
  box-shadow: 0px 0px 0px 3px rgba(220, 20, 60, 0.35);
}

button.am-button.am-button--failure:disabled {
  cursor: not-allowed;
}

button.am-button.am-button--failure.am-button--main {
  color: #ffffff;
  background-color: crimson;
  border-color: transparent;
}

button.am-button.am-button--failure.am-button--main:hover {
  background-color: #960e29;
}

button.am-button.am-button--failure.am-button--main:active {
  background-color: #ef4e6e;
}

button.am-button.am-button--failure.am-button--main:disabled {
  background-color: rgba(241, 161, 177, 0.9);
}

button.am-button.am-button--failure.am-button--misc {
  color: crimson;
  background-color: transparent;
  border-color: crimson;
}

button.am-button.am-button--failure.am-button--misc:hover {
  color: #ffffff;
  background-color: #960e29;
  border-color: transparent;
}

button.am-button.am-button--failure.am-button--misc:active {
  background-color: #ef4e6e;
}

button.am-button.am-button--failure.am-button--misc:disabled {
  color: rgba(220, 20, 60, 0.5);
  background-color: transparent;
  border-color: rgba(220, 20, 60, 0.5);
}

button.am-button.am-button--failure.am-button--text {
  color: crimson;
  background-color: transparent;
  border-color: transparent;
}

button.am-button.am-button--failure.am-button--text:hover {
  color: #ffffff;
  background-color: #960e29;
}

button.am-button.am-button--failure.am-button--text:active {
  background-color: #ef4e6e;
}

button.am-button.am-button--failure.am-button--text:disabled {
  color: rgba(220, 20, 60, 0.5);
  background-color: transparent;
}

button.am-button.am-button--block {
  display: block;
  width: 100%;
}

input[type='button'].am-button--primary:focus {
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}

input[type='button'].am-button--primary:disabled {
  cursor: not-allowed;
}

input[type='button'].am-button--primary.am-button--main {
  color: #ffffff;
  background-color: royalblue;
  border-color: transparent;
}

input[type='button'].am-button--primary.am-button--main:hover {
  background-color: #1d44b8;
}

input[type='button'].am-button--primary.am-button--main:active {
  background-color: #839deb;
}

input[type='button'].am-button--primary.am-button--main:disabled {
  background-color: rgba(179, 195, 243, 0.9);
}

input[type='button'].am-button--primary.am-button--misc {
  color: royalblue;
  background-color: transparent;
  border-color: royalblue;
}

input[type='button'].am-button--primary.am-button--misc:hover {
  color: #ffffff;
  background-color: #1d44b8;
  border-color: transparent;
}

input[type='button'].am-button--primary.am-button--misc:active {
  background-color: #839deb;
}

input[type='button'].am-button--primary.am-button--misc:disabled {
  color: rgba(65, 105, 225, 0.5);
  background-color: transparent;
  border-color: rgba(65, 105, 225, 0.5);
}

input[type='button'].am-button--primary.am-button--text {
  color: royalblue;
  background-color: transparent;
  border-color: transparent;
}

input[type='button'].am-button--primary.am-button--text:hover {
  color: #ffffff;
  background-color: #1d44b8;
}

input[type='button'].am-button--primary.am-button--text:active {
  background-color: #839deb;
}

input[type='button'].am-button--primary.am-button--text:disabled {
  color: rgba(65, 105, 225, 0.5);
  background-color: transparent;
}

input[type='button'].am-button--success:focus {
  box-shadow: 0px 0px 0px 3px rgba(34, 139, 34, 0.35);
}

input[type='button'].am-button--success:disabled {
  cursor: not-allowed;
}

input[type='button'].am-button--success.am-button--main {
  color: #ffffff;
  background-color: forestgreen;
  border-color: transparent;
}

input[type='button'].am-button--success.am-button--main:hover {
  background-color: #134e13;
}

input[type='button'].am-button--success.am-button--main:active {
  background-color: #31c831;
}

input[type='button'].am-button--success.am-button--main:disabled {
  background-color: rgba(167, 209, 167, 0.9);
}

input[type='button'].am-button--success.am-button--misc {
  color: forestgreen;
  background-color: transparent;
  border-color: forestgreen;
}

input[type='button'].am-button--success.am-button--misc:hover {
  color: #ffffff;
  background-color: #134e13;
  border-color: transparent;
}

input[type='button'].am-button--success.am-button--misc:active {
  background-color: #31c831;
}

input[type='button'].am-button--success.am-button--misc:disabled {
  color: rgba(34, 139, 34, 0.5);
  background-color: transparent;
  border-color: rgba(34, 139, 34, 0.5);
}

input[type='button'].am-button--success.am-button--text {
  color: forestgreen;
  background-color: transparent;
  border-color: transparent;
}

input[type='button'].am-button--success.am-button--text:hover {
  color: #ffffff;
  background-color: #134e13;
}

input[type='button'].am-button--success.am-button--text:active {
  background-color: #31c831;
}

input[type='button'].am-button--success.am-button--text:disabled {
  color: rgba(34, 139, 34, 0.5);
  background-color: transparent;
}

input[type='button'].am-button--warning:focus {
  box-shadow: 0px 0px 0px 3px rgba(255, 69, 0, 0.35);
}

input[type='button'].am-button--warning:disabled {
  cursor: not-allowed;
}

input[type='button'].am-button--warning.am-button--main {
  color: #ffffff;
  background-color: orangered;
  border-color: transparent;
}

input[type='button'].am-button--warning.am-button--main:hover {
  background-color: #b33000;
}

input[type='button'].am-button--warning.am-button--main:active {
  background-color: #ff7d4d;
}

input[type='button'].am-button--warning.am-button--main:disabled {
  background-color: rgba(255, 181, 153, 0.9);
}

input[type='button'].am-button--warning.am-button--misc {
  color: orangered;
  background-color: transparent;
  border-color: orangered;
}

input[type='button'].am-button--warning.am-button--misc:hover {
  color: #ffffff;
  background-color: #b33000;
  border-color: transparent;
}

input[type='button'].am-button--warning.am-button--misc:active {
  background-color: #ff7d4d;
}

input[type='button'].am-button--warning.am-button--misc:disabled {
  color: rgba(255, 69, 0, 0.5);
  background-color: transparent;
  border-color: rgba(255, 69, 0, 0.5);
}

input[type='button'].am-button--warning.am-button--text {
  color: orangered;
  background-color: transparent;
  border-color: transparent;
}

input[type='button'].am-button--warning.am-button--text:hover {
  color: #ffffff;
  background-color: #b33000;
}

input[type='button'].am-button--warning.am-button--text:active {
  background-color: #ff7d4d;
}

input[type='button'].am-button--warning.am-button--text:disabled {
  color: rgba(255, 69, 0, 0.5);
  background-color: transparent;
}

input[type='button'].am-button--failure:focus {
  box-shadow: 0px 0px 0px 3px rgba(220, 20, 60, 0.35);
}

input[type='button'].am-button--failure:disabled {
  cursor: not-allowed;
}

input[type='button'].am-button--failure.am-button--main {
  color: #ffffff;
  background-color: crimson;
  border-color: transparent;
}

input[type='button'].am-button--failure.am-button--main:hover {
  background-color: #960e29;
}

input[type='button'].am-button--failure.am-button--main:active {
  background-color: #ef4e6e;
}

input[type='button'].am-button--failure.am-button--main:disabled {
  background-color: rgba(241, 161, 177, 0.9);
}

input[type='button'].am-button--failure.am-button--misc {
  color: crimson;
  background-color: transparent;
  border-color: crimson;
}

input[type='button'].am-button--failure.am-button--misc:hover {
  color: #ffffff;
  background-color: #960e29;
  border-color: transparent;
}

input[type='button'].am-button--failure.am-button--misc:active {
  background-color: #ef4e6e;
}

input[type='button'].am-button--failure.am-button--misc:disabled {
  color: rgba(220, 20, 60, 0.5);
  background-color: transparent;
  border-color: rgba(220, 20, 60, 0.5);
}

input[type='button'].am-button--failure.am-button--text {
  color: crimson;
  background-color: transparent;
  border-color: transparent;
}

input[type='button'].am-button--failure.am-button--text:hover {
  color: #ffffff;
  background-color: #960e29;
}

input[type='button'].am-button--failure.am-button--text:active {
  background-color: #ef4e6e;
}

input[type='button'].am-button--failure.am-button--text:disabled {
  color: rgba(220, 20, 60, 0.5);
  background-color: transparent;
}

input[type='button'].am-button--block {
  display: block;
  width: 100%;
}

input[type='submit'].am-button--primary:focus {
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}

input[type='submit'].am-button--primary:disabled {
  cursor: not-allowed;
}

input[type='submit'].am-button--primary.am-button--main {
  color: #ffffff;
  background-color: royalblue;
  border-color: transparent;
}

input[type='submit'].am-button--primary.am-button--main:hover {
  background-color: #1d44b8;
}

input[type='submit'].am-button--primary.am-button--main:active {
  background-color: #839deb;
}

input[type='submit'].am-button--primary.am-button--main:disabled {
  background-color: rgba(179, 195, 243, 0.9);
}

input[type='submit'].am-button--primary.am-button--misc {
  color: royalblue;
  background-color: transparent;
  border-color: royalblue;
}

input[type='submit'].am-button--primary.am-button--misc:hover {
  color: #ffffff;
  background-color: #1d44b8;
  border-color: transparent;
}

input[type='submit'].am-button--primary.am-button--misc:active {
  background-color: #839deb;
}

input[type='submit'].am-button--primary.am-button--misc:disabled {
  color: rgba(65, 105, 225, 0.5);
  background-color: transparent;
  border-color: rgba(65, 105, 225, 0.5);
}

input[type='submit'].am-button--primary.am-button--text {
  color: royalblue;
  background-color: transparent;
  border-color: transparent;
}

input[type='submit'].am-button--primary.am-button--text:hover {
  color: #ffffff;
  background-color: #1d44b8;
}

input[type='submit'].am-button--primary.am-button--text:active {
  background-color: #839deb;
}

input[type='submit'].am-button--primary.am-button--text:disabled {
  color: rgba(65, 105, 225, 0.5);
  background-color: transparent;
}

input[type='submit'].am-button--success:focus {
  box-shadow: 0px 0px 0px 3px rgba(34, 139, 34, 0.35);
}

input[type='submit'].am-button--success:disabled {
  cursor: not-allowed;
}

input[type='submit'].am-button--success.am-button--main {
  color: #ffffff;
  background-color: forestgreen;
  border-color: transparent;
}

input[type='submit'].am-button--success.am-button--main:hover {
  background-color: #134e13;
}

input[type='submit'].am-button--success.am-button--main:active {
  background-color: #31c831;
}

input[type='submit'].am-button--success.am-button--main:disabled {
  background-color: rgba(167, 209, 167, 0.9);
}

input[type='submit'].am-button--success.am-button--misc {
  color: forestgreen;
  background-color: transparent;
  border-color: forestgreen;
}

input[type='submit'].am-button--success.am-button--misc:hover {
  color: #ffffff;
  background-color: #134e13;
  border-color: transparent;
}

input[type='submit'].am-button--success.am-button--misc:active {
  background-color: #31c831;
}

input[type='submit'].am-button--success.am-button--misc:disabled {
  color: rgba(34, 139, 34, 0.5);
  background-color: transparent;
  border-color: rgba(34, 139, 34, 0.5);
}

input[type='submit'].am-button--success.am-button--text {
  color: forestgreen;
  background-color: transparent;
  border-color: transparent;
}

input[type='submit'].am-button--success.am-button--text:hover {
  color: #ffffff;
  background-color: #134e13;
}

input[type='submit'].am-button--success.am-button--text:active {
  background-color: #31c831;
}

input[type='submit'].am-button--success.am-button--text:disabled {
  color: rgba(34, 139, 34, 0.5);
  background-color: transparent;
}

input[type='submit'].am-button--warning:focus {
  box-shadow: 0px 0px 0px 3px rgba(255, 69, 0, 0.35);
}

input[type='submit'].am-button--warning:disabled {
  cursor: not-allowed;
}

input[type='submit'].am-button--warning.am-button--main {
  color: #ffffff;
  background-color: orangered;
  border-color: transparent;
}

input[type='submit'].am-button--warning.am-button--main:hover {
  background-color: #b33000;
}

input[type='submit'].am-button--warning.am-button--main:active {
  background-color: #ff7d4d;
}

input[type='submit'].am-button--warning.am-button--main:disabled {
  background-color: rgba(255, 181, 153, 0.9);
}

input[type='submit'].am-button--warning.am-button--misc {
  color: orangered;
  background-color: transparent;
  border-color: orangered;
}

input[type='submit'].am-button--warning.am-button--misc:hover {
  color: #ffffff;
  background-color: #b33000;
  border-color: transparent;
}

input[type='submit'].am-button--warning.am-button--misc:active {
  background-color: #ff7d4d;
}

input[type='submit'].am-button--warning.am-button--misc:disabled {
  color: rgba(255, 69, 0, 0.5);
  background-color: transparent;
  border-color: rgba(255, 69, 0, 0.5);
}

input[type='submit'].am-button--warning.am-button--text {
  color: orangered;
  background-color: transparent;
  border-color: transparent;
}

input[type='submit'].am-button--warning.am-button--text:hover {
  color: #ffffff;
  background-color: #b33000;
}

input[type='submit'].am-button--warning.am-button--text:active {
  background-color: #ff7d4d;
}

input[type='submit'].am-button--warning.am-button--text:disabled {
  color: rgba(255, 69, 0, 0.5);
  background-color: transparent;
}

input[type='submit'].am-button--failure:focus {
  box-shadow: 0px 0px 0px 3px rgba(220, 20, 60, 0.35);
}

input[type='submit'].am-button--failure:disabled {
  cursor: not-allowed;
}

input[type='submit'].am-button--failure.am-button--main {
  color: #ffffff;
  background-color: crimson;
  border-color: transparent;
}

input[type='submit'].am-button--failure.am-button--main:hover {
  background-color: #960e29;
}

input[type='submit'].am-button--failure.am-button--main:active {
  background-color: #ef4e6e;
}

input[type='submit'].am-button--failure.am-button--main:disabled {
  background-color: rgba(241, 161, 177, 0.9);
}

input[type='submit'].am-button--failure.am-button--misc {
  color: crimson;
  background-color: transparent;
  border-color: crimson;
}

input[type='submit'].am-button--failure.am-button--misc:hover {
  color: #ffffff;
  background-color: #960e29;
  border-color: transparent;
}

input[type='submit'].am-button--failure.am-button--misc:active {
  background-color: #ef4e6e;
}

input[type='submit'].am-button--failure.am-button--misc:disabled {
  color: rgba(220, 20, 60, 0.5);
  background-color: transparent;
  border-color: rgba(220, 20, 60, 0.5);
}

input[type='submit'].am-button--failure.am-button--text {
  color: crimson;
  background-color: transparent;
  border-color: transparent;
}

input[type='submit'].am-button--failure.am-button--text:hover {
  color: #ffffff;
  background-color: #960e29;
}

input[type='submit'].am-button--failure.am-button--text:active {
  background-color: #ef4e6e;
}

input[type='submit'].am-button--failure.am-button--text:disabled {
  color: rgba(220, 20, 60, 0.5);
  background-color: transparent;
}

input[type='submit'].am-button--block {
  display: block;
  width: 100%;
}

.am-pair {
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
}

.am-pair__label > .am-tip, .am-pair__input > .am-tip {
  margin-top: 6px;
}

.am-pair--column {
  flex-direction: column;
}

.am-pair--column > .am-pair__label {
  margin-bottom: 8px;
}

.am-pair--column > .am-pair__input > * {
  width: 100%;
}

.am-pair--row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.am-pair--row > .am-pair__label {
  margin-top: 5px;
  margin-right: 12px;
  min-width: 40%;
  flex-basis: 40%;
}

.am-pair--row > .am-pair__input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.am-pair--row > .am-pair__input > textarea.am-field {
  flex-grow: 1;
  flex-shrink: 1;
}

.am-pair--box {
  flex-direction: row-reverse;
}

.am-pair--box > .am-pair__input {
  margin-right: 12px;
}

.am-pair--box > .am-pair__label {
  margin-top: 5px;
  flex-grow: 1;
}

.am-label {
  display: inline-block;
  font-size: 11pt;
  font-weight: 400;
  color: #666666;
}

.am-label__required {
  font-weight: 900;
  color: crimson;
}

.am-label__optional {
  font-weight: 600;
  font-style: italic;
  color: #999999;
}

.am-group {
  display: inline-flex;
  vertical-align: middle;
  box-sizing: border-box;
}

.am-group > .am-label {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 6px 8px;
  color: #666666;
  background-color: #e6e6e6;
  border: solid #cccccc 1px;
  border-right: none;
}

.am-group > .am-field {
  flex-grow: 1;
  width: 1%;
}

.am-group > .am-button {
  flex-shrink: 1;
}

.am-group > .am-label,
.am-group > .am-field,
.am-group > .am-button {
  box-sizing: border-box;
  margin-right: -1px !important;
  border-radius: 0 !important;
}

.am-group > .am-field:focus,
.am-group > .am-button:focus {
  z-index: 1;
}

.am-group > .am-label:first-child,
.am-group > .am-field:first-child,
.am-group > .am-button:first-child {
  border-radius: 3px 0 0 3px !important;
}

.am-group > .am-label:first-child {
  border-left: solid 1px #cccccc;
}

.am-group > .am-label:last-child,
.am-group > .am-field:last-child,
.am-group > .am-button:last-child {
  border-radius: 0 3px 3px 0 !important;
  margin-right: 0px !important;
}

.am-group > .am-label:last-child {
  border-right: solid 1px #cccccc;
}

.am-group--block {
  width: 100%;
}

.am-tip {
  font-size: 10pt;
  font-weight: 600;
}

.am-tip--neutral {
  color: #999999;
}

.am-tip--success {
  color: forestgreen;
}

.am-tip--warning {
  color: orangered;
}

.am-tip--failure {
  color: crimson;
}

.am-label {
  display: inline-block;
  font-size: 11pt;
  font-weight: 400;
  color: #666666;
}

.am-label__required {
  font-weight: 900;
  color: crimson;
}

.am-label__optional {
  font-weight: 600;
  font-style: italic;
  color: #999999;
}
