.am {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 12pt;
  font-weight: 400;
}

.am-hr {
  border: none;
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.am-link,
.am-a {
  color: steelblue;
  text-decoration: none;
  transition: color 0.15s, box-shadow 0.15s;
  cursor: pointer;
}
.am-link:hover,
.am-a:hover {
  box-shadow: inset 0 -0.125em #abc7de;
}
.am-link:active,
.am-a:active {
  color: crimson;
  box-shadow: inset 0 -0.125em #f48aa0;
}

.am-table {
  border-collapse: collapse;
  width: 100%;
}
.am-table th {
  text-align: left;
  font-weight: 600;
}
.am-table thead tr {
  border-bottom: solid 1px #999999;
}
.am-table tbody tr {
  border-top: solid 1px #cccccc;
}
.am-table tbody tr:first-child {
  border-top: 0;
}
.am-table tfoot tr {
  border-top: solid 1px #999999;
}
.am-table--type-comfy th {
  font-size: 10pt;
  padding: 8px 12px;
}
.am-table--type-comfy td {
  font-size: 11pt;
  padding: 8px 12px;
}
.am-table--type-compact th {
  font-size: 10pt;
  padding: 8px 12px;
}
.am-table--type-compact td {
  font-size: 11pt;
  padding: 8px 12px;
}
.am-table--type-compact th,
.am-table--type-compact td {
  padding: 4px 4px;
  font-size: 11pt;
  border-left: solid 1px #999999;
}
.am-table--type-compact th:first-child,
.am-table--type-compact td:first-child {
  border-left: none;
}
.am-table--interactive tbody tr {
  transition: background-color 0.16s;
  cursor: pointer;
}
.am-table--interactive tbody tr:hover {
  background-color: #d9d9d9;
}
.am-table--interactive tbody tr:active {
  background-color: #cccccc;
}
.am-table--mark-primary {
  background-color: #dae6f0;
}
.am-table--interactive .am-table--mark-primary:hover {
  background-color: #d1e0ec;
}
.am-table--interactive .am-table--mark-primary:active {
  background-color: #c8dae9;
}
.am-table--selection-primary {
  border-color: #b5cde1 !important;
}
.am-table--mark-neutral {
  background-color: #e6e6e6;
}
.am-table--interactive .am-table--mark-neutral:hover {
  background-color: #dfdfdf;
}
.am-table--interactive .am-table--mark-neutral:active {
  background-color: #d9d9d9;
}
.am-table--selection-neutral {
  border-color: #cccccc !important;
}
.am-table--mark-success {
  background-color: #d3e8d3;
}
.am-table--interactive .am-table--mark-success:hover {
  background-color: #c8e2c8;
}
.am-table--interactive .am-table--mark-success:active {
  background-color: #bddcbd;
}
.am-table--selection-success {
  border-color: #a7d1a7 !important;
}
.am-table--mark-warning {
  background-color: #ffdacc;
}
.am-table--interactive .am-table--mark-warning:hover {
  background-color: #ffd1bf;
}
.am-table--interactive .am-table--mark-warning:active {
  background-color: #ffc7b3;
}
.am-table--selection-warning {
  border-color: #ffb599 !important;
}
.am-table--mark-failure {
  background-color: #f8d0d8;
}
.am-table--interactive .am-table--mark-failure:hover {
  background-color: #f6c4ce;
}
.am-table--interactive .am-table--mark-failure:active {
  background-color: #f5b9c5;
}
.am-table--selection-failure {
  border-color: #f1a1b1 !important;
}
.am-table--selection-t {
  border-top-width: 3px !important;
  border-top-style: solid;
}
.am-table--selection-r {
  border-right-width: 3px !important;
  border-right-style: solid;
}
.am-table--selection-tr {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
}
.am-table--selection-b {
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-tb {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-rb {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-trb {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-l {
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-tl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-rl {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-trl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-bl {
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-tbl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-rbl {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-trbl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-a {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--align-a {
  text-align: center;
  vertical-align: middle;
}
.am-table--align-t {
  vertical-align: top;
}
.am-table--align-tl {
  text-align: left;
  vertical-align: top;
}
.am-table--align-tc {
  text-align: center;
  vertical-align: top;
}
.am-table--align-tr {
  text-align: right;
  vertical-align: top;
}
.am-table--align-m {
  vertical-align: middle;
}
.am-table--align-ml {
  text-align: left;
  vertical-align: middle;
}
.am-table--align-mc {
  text-align: center;
  vertical-align: middle;
}
.am-table--align-mr {
  text-align: right;
  vertical-align: middle;
}
.am-table--align-b {
  vertical-align: bottom;
}
.am-table--align-bl {
  text-align: left;
  vertical-align: bottom;
}
.am-table--align-bc {
  text-align: center;
  vertical-align: bottom;
}
.am-table--align-br {
  text-align: right;
  vertical-align: bottom;
}
.am-table--align-l {
  text-align: left;
}
.am-table--align-c {
  text-align: left;
}
.am-table--align-r {
  text-align: left;
}
.am-table--nowrap {
  white-space: nowrap;
}
.am-table--thin {
  width: 1%;
}

.am-toggle, .am-radio, .am-check, .am-input,
.am-select,
.am-textarea, .am-button {
  outline: none;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
}

.am-button {
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  font-family: "Segoe UI";
  font-size: 12pt;
  font-weight: 600;
  white-space: nowrap;
  min-width: 80px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}
.am-button--primary:focus {
  box-shadow: 0px 0px 0px 3px rgba(70, 130, 180, 0.35);
  z-index: 1;
}
.am-button--primary:disabled {
  cursor: not-allowed;
}
.am-button--primary.am-button--main {
  color: #ffffff;
  background-color: steelblue;
  border-color: transparent;
}
.am-button--primary.am-button--main:hover {
  background-color: #315a7d;
}
.am-button--primary.am-button--main:active {
  background-color: #7ba7cc;
}
.am-button--primary.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--primary.am-button--misc {
  color: steelblue;
  background-color: transparent;
  border-color: steelblue;
}
.am-button--primary.am-button--misc:hover {
  color: #ffffff;
  background-color: #315a7d;
  border-color: transparent;
}
.am-button--primary.am-button--misc:active {
  background-color: #7ba7cc;
}
.am-button--primary.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--primary.am-button--text {
  color: steelblue;
  background-color: transparent;
  border-color: transparent;
}
.am-button--primary.am-button--text:hover {
  color: #ffffff;
  background-color: #315a7d;
}
.am-button--primary.am-button--text:active {
  background-color: #7ba7cc;
}
.am-button--primary.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--success:focus {
  box-shadow: 0px 0px 0px 3px rgba(34, 139, 34, 0.35);
  z-index: 1;
}
.am-button--success:disabled {
  cursor: not-allowed;
}
.am-button--success.am-button--main {
  color: #ffffff;
  background-color: forestgreen;
  border-color: transparent;
}
.am-button--success.am-button--main:hover {
  background-color: #134e13;
}
.am-button--success.am-button--main:active {
  background-color: #31c831;
}
.am-button--success.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--success.am-button--misc {
  color: forestgreen;
  background-color: transparent;
  border-color: forestgreen;
}
.am-button--success.am-button--misc:hover {
  color: #ffffff;
  background-color: #134e13;
  border-color: transparent;
}
.am-button--success.am-button--misc:active {
  background-color: #31c831;
}
.am-button--success.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--success.am-button--text {
  color: forestgreen;
  background-color: transparent;
  border-color: transparent;
}
.am-button--success.am-button--text:hover {
  color: #ffffff;
  background-color: #134e13;
}
.am-button--success.am-button--text:active {
  background-color: #31c831;
}
.am-button--success.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--warning:focus {
  box-shadow: 0px 0px 0px 3px rgba(255, 69, 0, 0.35);
  z-index: 1;
}
.am-button--warning:disabled {
  cursor: not-allowed;
}
.am-button--warning.am-button--main {
  color: #ffffff;
  background-color: orangered;
  border-color: transparent;
}
.am-button--warning.am-button--main:hover {
  background-color: #b33000;
}
.am-button--warning.am-button--main:active {
  background-color: #ff7d4d;
}
.am-button--warning.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--warning.am-button--misc {
  color: orangered;
  background-color: transparent;
  border-color: orangered;
}
.am-button--warning.am-button--misc:hover {
  color: #ffffff;
  background-color: #b33000;
  border-color: transparent;
}
.am-button--warning.am-button--misc:active {
  background-color: #ff7d4d;
}
.am-button--warning.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--warning.am-button--text {
  color: orangered;
  background-color: transparent;
  border-color: transparent;
}
.am-button--warning.am-button--text:hover {
  color: #ffffff;
  background-color: #b33000;
}
.am-button--warning.am-button--text:active {
  background-color: #ff7d4d;
}
.am-button--warning.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--failure:focus {
  box-shadow: 0px 0px 0px 3px rgba(220, 20, 60, 0.35);
  z-index: 1;
}
.am-button--failure:disabled {
  cursor: not-allowed;
}
.am-button--failure.am-button--main {
  color: #ffffff;
  background-color: crimson;
  border-color: transparent;
}
.am-button--failure.am-button--main:hover {
  background-color: #960e29;
}
.am-button--failure.am-button--main:active {
  background-color: #ef4e6e;
}
.am-button--failure.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--failure.am-button--misc {
  color: crimson;
  background-color: transparent;
  border-color: crimson;
}
.am-button--failure.am-button--misc:hover {
  color: #ffffff;
  background-color: #960e29;
  border-color: transparent;
}
.am-button--failure.am-button--misc:active {
  background-color: #ef4e6e;
}
.am-button--failure.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--failure.am-button--text {
  color: crimson;
  background-color: transparent;
  border-color: transparent;
}
.am-button--failure.am-button--text:hover {
  color: #ffffff;
  background-color: #960e29;
}
.am-button--failure.am-button--text:active {
  background-color: #ef4e6e;
}
.am-button--failure.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--block {
  display: block;
  width: 100%;
}

.am-input,
.am-select,
.am-textarea {
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}
.am-input,
.am-select,
.am-textarea {
  min-width: 80px;
  min-height: 34px;
  padding: 6px 8px;
  font-family: "Segoe UI", sans-serif;
  font-size: 12pt;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.am-input::placeholder,
.am-select::placeholder,
.am-textarea::placeholder {
  opacity: 1;
}
.am-input,
.am-select,
.am-textarea {
  color: #1a1a1a;
  background-color: white;
  border-color: #cccccc;
}
.am-input::placeholder,
.am-select::placeholder,
.am-textarea::placeholder {
  color: rgba(26, 26, 26, 0.3);
}
.am-input:hover,
.am-select:hover,
.am-textarea:hover {
  border-color: #999999;
}
.am-input:focus,
.am-select:focus,
.am-textarea:focus {
  border-color: steelblue;
  box-shadow: 0px 0px 0px 3px rgba(70, 130, 180, 0.35);
  z-index: 1;
}
.am-input:focus::placeholder,
.am-select:focus::placeholder,
.am-textarea:focus::placeholder {
  color: rgba(26, 26, 26, 0.2);
}
.am-input:focus:hover,
.am-select:focus:hover,
.am-textarea:focus:hover {
  border-color: #315a7d;
}
.am-input--validable:valid,
.am-select--validable:valid,
.am-textarea--validable:valid {
  border-color: forestgreen;
}
.am-input--validable:valid:hover,
.am-select--validable:valid:hover,
.am-textarea--validable:valid:hover {
  border-color: #134e13;
}
.am-input--validable:valid:focus,
.am-select--validable:valid:focus,
.am-textarea--validable:valid:focus {
  box-shadow: 0px 0px 0px 3px rgba(34, 139, 34, 0.35);
}
.am-input--invalidable:invalid,
.am-select--invalidable:invalid,
.am-textarea--invalidable:invalid {
  border-color: crimson;
}
.am-input--invalidable:invalid:hover,
.am-select--invalidable:invalid:hover,
.am-textarea--invalidable:invalid:hover {
  border-color: #960e29;
}
.am-input--invalidable:invalid:focus,
.am-select--invalidable:invalid:focus,
.am-textarea--invalidable:invalid:focus {
  box-shadow: 0px 0px 0px 3px rgba(220, 20, 60, 0.35);
}
.am-input--ghost,
.am-select--ghost,
.am-textarea--ghost {
  border-color: transparent;
  background-color: transparent;
}
.am-input--block,
.am-select--block,
.am-textarea--block {
  display: block;
  width: 100%;
}
.am-input:disabled,
.am-select:disabled,
.am-textarea:disabled {
  cursor: not-allowed;
  color: rgba(26, 26, 26, 0.5);
  background-color: rgba(191, 191, 191, 0.5);
  border-color: rgba(204, 204, 204, 0.5);
}
.am-input::placeholder,
.am-select::placeholder,
.am-textarea::placeholder {
  transition: color 0.15s;
}

.am-input[list]::-webkit-calendar-picker-indicator {
  display: none;
}

.am-input[type=search],
.am-input[type=time],
.am-input[type=date] {
  padding-top: 0;
  padding-bottom: 0;
}

.am-input[type=search]::-webkit-search-cancel-button,
.am-input[type=time]::-webkit-calendar-picker-indicator,
.am-input[type=date]::-webkit-calendar-picker-indicator {
  margin: 0 -8px 0 0;
  padding: 0;
  height: 30px;
  width: 30px;
  background: none;
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-size: 24px;
  cursor: pointer;
}

.am-input[type=search]::-webkit-search-cancel-button {
  background-image: url("../assets/icons/times.svg");
  -webkit-appearance: none;
  opacity: 1;
}

.am-input[type=time]::-webkit-calendar-picker-indicator {
  background-image: url("../assets/icons/clock.svg");
}

.am-input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url("../assets/icons/calendar.svg");
}

.am-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 100%;
  padding-right: 34px;
  background-image: url("../assets/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-size: 24px;
}

.am-textarea {
  height: 74px;
  line-height: 145%;
  max-width: 100%;
}
.am-textarea--block {
  resize: vertical;
}

.am-check {
  min-height: 32px;
  min-width: 18px;
  width: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.am-check::before {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.am-check::before {
  background-color: white;
  background-size: 0px;
  border-color: #cccccc;
}
.am-check:hover::before {
  border-color: #999999;
}
.am-check:focus::before {
  box-shadow: __shared-input-box-shadow(steelblue);
}
.am-check:checked::before {
  border-color: transparent;
  background-color: steelblue;
  background-image: url("../assets/icons/check.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.am-check:checked:hover::before {
  background-color: #315a7d;
}
.am-check:disabled {
  cursor: not-allowed;
}
.am-check:disabled::before {
  border-color: rgba(204, 204, 204, 0.5);
}
.am-check:disabled:checked::before {
  border-color: transparent;
  background-color: rgba(70, 130, 180, 0.5);
}
.am-check::before {
  transition: background-color 0.15s, background-size 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.am-radio {
  min-height: 32px;
  min-width: 18px;
  width: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.am-radio::before {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10000px;
}
.am-radio::before {
  background-color: white;
  background-size: 0px;
  border-color: #cccccc;
}
.am-radio:hover::before {
  border-color: #999999;
}
.am-radio:focus::before {
  box-shadow: __shared-input-box-shadow(steelblue);
}
.am-radio:checked::before {
  border-color: transparent;
  background-color: steelblue;
  background-image: url("../assets/icons/radio.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.am-radio:checked:hover::before {
  background-color: #315a7d;
}
.am-radio:disabled {
  cursor: not-allowed;
}
.am-radio:disabled::before {
  border-color: rgba(204, 204, 204, 0.5);
}
.am-radio:disabled:checked::before {
  border-color: transparent;
  background-color: rgba(70, 130, 180, 0.5);
}
.am-radio::before {
  transition: background-color 0.15s, background-size 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.am-toggle {
  min-height: 32px;
  min-width: 34px;
  width: 34px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.am-toggle::before {
  content: " ";
  display: block;
  width: 100%;
  height: 18px;
  margin-top: 7px;
  margin-left: 0px;
  border-radius: 1000px;
}
.am-toggle::after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -15px;
  margin-left: 3px;
  border-radius: 50%;
}
.am-toggle:checked::after {
  margin-left: calc(100% - 15px);
}
.am-toggle::before {
  background-color: #cccccc;
}
.am-toggle::after {
  background-color: #f2f2f2;
}
.am-toggle:hover::before {
  background-color: #999999;
}
.am-toggle:focus::before {
  box-shadow: __shared-input-box-shadow(steelblue);
}
.am-toggle:checked::before {
  border-color: steelblue;
  background-color: steelblue;
}
.am-toggle:checked::after {
  background-color: #f2f2f2;
}
.am-toggle:checked:hover::before {
  background-color: #315a7d;
}
.am-toggle:disabled {
  cursor: not-allowed;
}
.am-toggle:disabled::before {
  background-color: rgba(204, 204, 204, 0.5);
}
.am-toggle:disabled:checked::before {
  background-color: rgba(70, 130, 180, 0.5);
}
.am-toggle::before {
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}
.am-toggle::after {
  transition: background-color 0.15s, border-color 0.15s, margin-left 0.15s;
}

.am-group {
  display: inline-flex;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 100%;
}
.am-group > .am-item {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 6px 8px;
  color: #666666;
  background-color: #e6e6e6;
  border: solid #cccccc 1px;
  border-right: none;
}
.am-group > .am-input, .am-group > .am-select, .am-group > .am-textarea {
  flex-grow: 1;
  width: 1%;
}
.am-group > .am-button {
  flex-shrink: 1;
}
.am-group > .am-item, .am-group > .am-input, .am-group > .am-select, .am-group > .am-textarea, .am-group > .am-button {
  box-sizing: border-box;
  margin-right: -1px;
  border-radius: 0;
}
.am-group > .am-item:first-child, .am-group > .am-input:first-child, .am-group > .am-select:first-child, .am-group > .am-textarea:first-child, .am-group > .am-button:first-child {
  border-radius: 3px 0 0 3px;
}
.am-group > .am-item:first-child {
  border-left: solid 1px #cccccc;
}
.am-group > .am-item:last-child, .am-group > .am-input:last-child, .am-group > .am-select:last-child, .am-group > .am-textarea:last-child, .am-group > .am-button:last-child {
  border-radius: 0 3px 3px 0;
  margin-right: 0px;
}
.am-group > .am-item:last-child {
  border-right: solid 1px #cccccc;
}
.am-group > .am-item:only-child, .am-group > .am-input:only-child, .am-group > .am-select:only-child, .am-group > .am-textarea:only-child, .am-group > .am-button:only-child {
  border-radius: 3px 3px 3px 3px;
  margin-right: 0px;
}
.am-group--block {
  width: 100%;
}

.am-pair {
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
}
.am-pair__label > .am-note, .am-pair__input > .am-note {
  margin-top: 6px;
}
.am-pair--column {
  flex-direction: column;
}
.am-pair--column > .am-pair__label {
  margin-bottom: 8px;
}
.am-pair--column > .am-pair__input > * {
  width: 100%;
}
.am-pair--row {
  flex-direction: row;
  flex-wrap: nowrap;
}
.am-pair--row > .am-pair__label {
  margin-top: 5px;
  margin-right: 12px;
  min-width: 40%;
  flex-basis: 40%;
}
.am-pair--row > .am-pair__input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.am-pair--row > .am-pair__input > textarea.am-field {
  flex-grow: 1;
  flex-shrink: 1;
}
.am-pair--box {
  flex-direction: row-reverse;
}
.am-pair--box > .am-pair__input {
  margin-right: 12px;
}
.am-pair--box > .am-pair__label {
  margin-top: 5px;
  flex-grow: 1;
}

.am-content > .am-item {
  box-sizing: border-box;
  padding: 18px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item\@d, .am-content > .am-item\@\!m {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item\@m, .am-content > .am-item\@\!d {
    display: none;
  }
}
.am-content > .am-item--c1 {
  min-width: 8.3333333333%;
  max-width: 8.3333333333%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c1\@m {
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c1\@d {
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
.am-content > .am-item--c2 {
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c2\@m {
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c2\@d {
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
.am-content > .am-item--c3 {
  min-width: 25%;
  max-width: 25%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c3\@m {
    min-width: 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c3\@d {
    min-width: 25%;
    max-width: 25%;
  }
}
.am-content > .am-item--c4 {
  min-width: 33.3333333333%;
  max-width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c4\@m {
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c4\@d {
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
.am-content > .am-item--c5 {
  min-width: 41.6666666667%;
  max-width: 41.6666666667%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c5\@m {
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c5\@d {
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
.am-content > .am-item--c6 {
  min-width: 50%;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c6\@m {
    min-width: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c6\@d {
    min-width: 50%;
    max-width: 50%;
  }
}
.am-content > .am-item--c7 {
  min-width: 58.3333333333%;
  max-width: 58.3333333333%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c7\@m {
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c7\@d {
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
.am-content > .am-item--c8 {
  min-width: 66.6666666667%;
  max-width: 66.6666666667%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c8\@m {
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c8\@d {
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
.am-content > .am-item--c9 {
  min-width: 75%;
  max-width: 75%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c9\@m {
    min-width: 75%;
    max-width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c9\@d {
    min-width: 75%;
    max-width: 75%;
  }
}
.am-content > .am-item--c10 {
  min-width: 83.3333333333%;
  max-width: 83.3333333333%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c10\@m {
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c10\@d {
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
.am-content > .am-item--c11 {
  min-width: 91.6666666667%;
  max-width: 91.6666666667%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c11\@m {
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c11\@d {
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
.am-content > .am-item--c12 {
  min-width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .am-content > .am-item--c12\@m {
    min-width: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .am-content > .am-item--c12\@d {
    min-width: 100%;
    max-width: 100%;
  }
}

.am-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  max-width: 1400px;
}
.am-content--left {
  justify-content: flex-start;
}
.am-content--center {
  justify-content: center;
}
.am-content--sides {
  justify-content: space-between;
}
.am-content--right {
  justify-content: flex-end;
}

.am-section {
  box-sizing: border-box;
}
.am-section--bang {
  background-color: #f8b0be;
  border-bottom: solid 1px #e6e6e6;
}
.am-section--head {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: solid 1px #e6e6e6;
}
.am-section--hero {
  background-color: #c8daea;
}
.am-section--body {
  min-height: 50vh;
  background-color: #f2f2f2;
}
.am-section--foot {
  min-height: 20vh;
  background-color: #ffffff;
  border-top: solid 1px #e6e6e6;
}

.am-bold,
.am-b {
  font-weight: 700;
}

.am-italic,
.am-i {
  font-style: italic;
}

.am-underline,
.am-u {
  text-decoration: solid underline;
}

.am-strikethrough,
.am-s {
  text-decoration: solid line-through;
}

.am-subscript,
.am-sub {
  font-size: 0.85em;
  vertical-align: sub;
}

.am-superscript,
.am-sup {
  font-size: 0.85em;
  vertical-align: super;
}

.am-blockquote {
  display: block;
  padding: 6px 12px;
  border-left: solid 3px #999999;
  border-radius: 0 3px 3px 0;
  background-color: #e6e6e6;
}

.am-code {
  padding: 0 0.1em;
  font-family: monospace;
  border-radius: 3px;
  color: #333333;
  background-color: #e6e6e6;
}

.am-blockcode {
  display: block;
  padding: 6px 12px !important;
  font-family: monospace;
  border-radius: 3px;
  background-color: #e6e6e6 !important;
  white-space: break-spaces;
}

.am-key {
  padding: 0 0.1em;
  font-family: monospace;
  border-radius: 3px;
  color: #cccccc;
  background-color: #333333;
}

.am-mark {
  padding: 0 0.1em;
  border-radius: 3px;
  color: #333333;
  background-color: #ffece6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.am-note {
  color: #666666;
  font-size: 0.85em;
}
.am-note--primary {
  color: steelblue;
}
.am-note--success {
  color: forestgreen;
}
.am-note--warning {
  color: orangered;
}
.am-note--failure {
  color: crimson;
}

.am-main {
  color: #333333;
}

.am-misc {
  color: #666666;
}

.am-mute {
  color: #999999;
}

.am-primary {
  color: steelblue;
}

.am-success {
  color: forestgreen;
}

.am-warning {
  color: orangered;
}

.am-failure {
  color: crimson;
}

.am-display-1,
.am-d1 {
  font-size: 6em;
  font-weight: 200;
}

.am-display-2,
.am-d2 {
  font-size: 5em;
  font-weight: 200;
}

.am-display-3,
.am-d3 {
  font-size: 4em;
  font-weight: 200;
}

.am-heading-1,
.am-h1 {
  font-size: 3em;
  font-weight: 700;
}

.am-heading-2,
.am-h2 {
  font-size: 2.6em;
  font-weight: 700;
}

.am-heading-3,
.am-h3 {
  font-size: 2.2em;
  font-weight: 700;
}

.am-heading-4,
.am-h4 {
  font-size: 1.8em;
  font-weight: 700;
}

.am-heading-5,
.am-h5 {
  font-size: 1.4em;
  font-weight: 700;
}

.am-heading-6,
.am-h6 {
  font-size: 1em;
  font-weight: 700;
}

.am-large {
  font-size: 1.4em;
  font-weight: 400;
}

.am-regular {
  font-size: 1em;
  font-weight: 400;
}

.am-small {
  font-size: 0.85em;
  font-weight: 400;
}
