// TODO: media should have vertical orientation too
// TODO: also, it should have center modifiers

@mixin -square-size($size) {
  min-width: $size;
  min-height: $size;

  width: $size;
  height: $size;

  max-width: $size;
  max-height: $size;
}

.am-media {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: $am-space-5;

  &__hero {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__body {
    flex-grow: 1;
    flex-shrink: 1;

    min-width: 0;
  }
}

.am-media-image {
  display: block;
  width: 100%;
  height: 100%;

  &--small {
    @include -square-size($am-size-3);
  }

  &--regular {
    @include -square-size($am-size-2);
  }

  &--large {
    @include -square-size($am-size-1);
  }

  &--circle {
    border-radius: 50%;
  }

  &--square {
    border-radius: $am-radius-regular;
  }
}
