.am-group {
  display: inline-flex;
  vertical-align: middle;
  box-sizing: border-box;

  max-width: 100%;

  & > .am-item {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    padding: 6px 8px;

    color: lighten($am-color-black, 40%);
    background-color: lighten($am-color-black, 90%);

    border: solid lighten($am-color-black, 80%) 1px;
    border-right: none;
  }

  & > .am-checkbox,
  & > .am-radio {
    min-width: 36px;
    width: 36px;

    background-color: lighten($am-color-black, 90%);
    border: solid lighten($am-color-black, 80%) 1px;
    border-right: none;
  }

  & > .am-switch {
    min-width: 36px;
    width: 48px;

    padding: 0 6px;

    background-color: lighten($am-color-black, 90%);
    border: solid lighten($am-color-black, 80%) 1px;
    border-right: none;
  }

  & > .am-input,
  & > .am-select,
  & > .am-textarea {
    flex-grow: 1;

    width: 1%;
  }

  & > .am-button {
    flex-shrink: 1;
  }

  & > .am-item,
  & > .am-input,
  & > .am-select,
  & > .am-textarea,
  & > .am-button {
    box-sizing: border-box;

    margin-right: -1px;
    border-radius: 0;
  }

  & > .am-item:first-child,
  & > .am-input:first-child,
  & > .am-select:first-child,
  & > .am-textarea:first-child,
  & > .am-checkbox:first-child,
  & > .am-radio:first-child,
  & > .am-switch:first-child,
  & > .am-button:first-child {
    border-radius: 3px 0 0 3px;
  }

  & > .am-item:first-child {
    border-left: solid 1px lighten($am-color-black, 80%);
  }

  & > .am-item:last-child,
  & > .am-input:last-child,
  & > .am-select:last-child,
  & > .am-textarea:last-child,
  & > .am-checkbox:last-child,
  & > .am-radio:last-child,
  & > .am-switch:last-child,
  & > .am-button:last-child {
    border-radius: 0 3px 3px 0;
    margin-right: 0px;
  }

  & > .am-checkbox:last-child,
  & > .am-radio:last-child,
  & > .am-switch:last-child,
  & > .am-item:last-child {
    border-right: solid 1px lighten($am-color-black, 80%);
  }

  & > .am-item:only-child,
  & > .am-input:only-child,
  & > .am-select:only-child,
  & > .am-textarea:only-child,
  & > .am-button:only-child {
    border-radius: 3px 3px 3px 3px;
    margin-right: 0px;
  }

  &--block {
    width: 100%;
  }
}
