$am-color-white: #ffffff;
$am-color-black: #000000;
$am-color-debug: #ff00ff;

$am-color-primary: steelblue;
$am-color-neutral: grey;
$am-color-success: forestgreen;
$am-color-warning: orangered;
$am-color-failure: crimson;
