@mixin _outline($color, $amount) {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: 1px !important;
  outline-color: transparentize($color, $amount) !important;
}

@mixin am-debug() {
  & {
    @include _outline($am-color-debug, 0.2);

    background-color: transparentize($am-color-debug, 0.8) !important;
  }
}

@mixin am-debug-interactive() {
  & {
    @include _outline($am-color-debug, 0.2);

    background-color: transparentize($am-color-debug, 0.8) !important;
    transition: all 0.16s !important;
  }

  &:hover {
    @include _outline($am-color-debug, 0.4);

    background-color: transparentize($am-color-debug, 0.6) !important;
  }
}
