$am-color-white: #ffffff;
$am-color-black: #000000;
$am-color-debug: #ff00ff;

$am-color-primary: #4169e1;
$am-color-neutral: grey;
$am-color-success: #92c906;
$am-color-warning: #f4a507;
$am-color-failure: #ff3f35;
