$am-color-white: #ffffff;
$am-color-black: #000000;
$am-color-debug: #ff00ff;

$am-color-primary: #4169e1;
$am-color-neutral: #808080;
$am-color-success: #37dd5b;
$am-color-warning: #f0a000;
$am-color-failure: #ff3f35;
