@import './colors';
@import './fonts';
@import './sizes';
@import './spaces';
@import './radiuses.scss';
@import './debug';

.am {
  margin: 0;

  color: lighten($am-color-black, 20%);

  font-family: $am-font-family-regular;
  font-size: $am-font-size-6;
  font-weight: $am-font-weight-normal;
}
