$am-color-white: #ffffff;
$am-color-black: #000000;
$am-color-debug: #ff00ff;

$am-color-default: #262626;
$am-color-primary: #4169e1;
$am-color-neutral: #808080;
$am-color-success: #15c662;
$am-color-warning: #ff9011;
$am-color-failure: #e94e30;
