$am-font-family-regular: 'Segoe UI', 'Roboto', 'Arial', 'Noto Sans', sans-serif;
$am-font-family-sources: 'Consolas', 'Roboto Mono', monospace;

$am-font-size-0: 4.5rem;
$am-font-size-1: 3rem;
$am-font-size-2: 2.25rem;
$am-font-size-3: 1.5rem;
$am-font-size-4: 1.25rem;
$am-font-size-5: 1.125rem;
$am-font-size-6: 1rem;
$am-font-size-7: 0.875rem;

$am-font-weight-thin: 200;
$am-font-weight-normal: 400;
$am-font-weight-bold: 700;
$am-font-weight-bolder: 900;
