$am-space-0:         rem(72px);
$am-space-1:         rem(48px);
$am-space-2:         rem(36px);
$am-space-3:         rem(24px);
$am-space-4:         rem(20px);
$am-space-5:         rem(18px);
$am-space-6:         rem(16px);
$am-space-7:         rem(14px);
$am-space-8:         rem(12px);
$am-space-9:         rem(8px);

$am-size-0:          rem(72px);
$am-size-1:          rem(48px);
$am-size-2:          rem(38px);
$am-size-3:          rem(24px);
$am-size-4:          rem(20px);
$am-size-5:          rem(18px);
$am-size-6:          rem(16px);
$am-size-7:          rem(14px);
$am-size-8:          rem(12px);
$am-size-9:          rem(8px);

$am-radius-none:     0;
$am-radius-regular:  rem(3px);
$am-radius-pill:     10000px;
$am-radius-circle:   50%;
