%-shared-browsersfix {
  &:active {
    -webkit-tap-highlight-color: transparent;
  }
}

@mixin -coloring($color) {
  &:focus {
    box-shadow: -shared-input-box-shadow($color);
    z-index: 1;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.am-button--main {
    color: $am-color-white;
    background-color: $color;
    border-color: transparent;

    &:hover {
      background-color: darken($color, 5%);
    }

    &:active {
      background-color: lighten($color, 5%);
    }

    &:disabled {
      color: lighten($am-color-black, 60%);
      background-color: lighten($am-color-black, 80%);
    }
  }

  &.am-button--misc {
    color: $color;
    background-color: transparent;
    border-color: $color;

    &:hover {
      color: $am-color-white;
      background-color: darken($color, 5%);
      border-color: transparent;
    }

    &:active {
      background-color: lighten($color, 5%);
    }

    &:disabled {
      color: lighten($am-color-black, 60%);
      background-color: transparent;
      border-color: lighten($am-color-black, 80%);
    }
  }

  &.am-button--text {
    color: $color;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      color: $am-color-white;
      background-color: darken($color, 5%);
    }

    &:active {
      background-color: lighten($color, 5%);
    }

    &:disabled {
      color: lighten($am-color-black, 60%);
      background-color: transparent;
    }
  }
}

.am-button {
  @extend %-shared;
  @extend %-shared-browsersfix;

  & {
    min-width: 80px;
    max-width: 100%;
    min-height: 36px;

    padding: 4px 12px;

    border: none;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;

    font-family: 'Segoe UI';
    font-size: 12pt;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    user-select: none;
    cursor: pointer;

    transition: color 0.15s, background-color 0.15s, border-color 0.15s,
      box-shadow 0.15s;
  }

  &--default {
    @include -coloring(lighten($am-color-black, 20%));
  }

  &--primary {
    @include -coloring($am-color-primary);
  }

  &--success {
    @include -coloring($am-color-success);
  }

  &--warning {
    @include -coloring($am-color-warning);
  }

  &--failure {
    @include -coloring($am-color-failure);
  }

  &--block {
    display: block;
    width: 100%;
  }
}
