.am-content {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;

  height: 100%;

  &--left {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--sides {
    justify-content: space-between;
  }

  &--right {
    justify-content: flex-end;
  }

  &--full {
    max-width: 100%;
  }

  &--wide {
    max-width: rem(1400px);
  }

  &--narrow {
    max-width: rem(800px);
  }
}

@mixin -exact-width($width) {
  min-width: $width;
  max-width: $width;
}

@mixin -fraction-12($fraction) {
  @include -exact-width(#{((100 / 12) * $fraction) + '%'});
}

.am-content > .am-item {
  box-sizing: border-box;
  padding: 16px;

  height: 100%; // not sure if this is really needed

  @media screen and (max-width: 768px) {
    &\@d,
    &\@\!m {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    &\@m,
    &\@\!d {
      display: none;
    }
  }

  @for $i from 1 through 12 {
    &--c#{$i} {
      @include -fraction-12($i);
    }

    @media screen and (max-width: 768px) {
      &--c#{$i}\@m {
        @include -fraction-12($i);
      }
    }

    @media screen and (min-width: 768px) {
      &--c#{$i}\@d {
        @include -fraction-12($i);
      }
    }
  }
}
