.am-display-1,
.am-d1 {
  font-size: 6em;
  font-weight: 700;
}

.am-display-2,
.am-d2 {
  font-size: 5em;
  font-weight: 700;
}

.am-display-3,
.am-d3 {
  font-size: 4em;
  font-weight: 700;
}

.am-heading-1,
.am-h1 {
  font-size: 3em;
  font-weight: 700;
}

.am-heading-2,
.am-h2 {
  font-size: 2.6em;
  font-weight: 700;
}

.am-heading-3,
.am-h3 {
  font-size: 2.2em;
  font-weight: 700;
}

.am-heading-4,
.am-h4 {
  font-size: 1.8em;
  font-weight: 700;
}

.am-heading-5,
.am-h5 {
  font-size: 1.4em;
  font-weight: 700;
}

.am-heading-6,
.am-h6 {
  font-size: 1em;
  font-weight: 700;
}

.am-large {
  font-size: 1.4em;
  font-weight: 400;
}

.am-regular {
  font-size: 1em;
  font-weight: 400;
}

.am-small {
  font-size: 0.85em;
  font-weight: 400;
}
