.am-card {
  @extend .am-block;
  @include am-blockspace($am-space-3, $am-space-3);

  box-sizing: border-box;

  border-radius: $am-radius-regular;
  background-color: $am-color-white;

  box-shadow: 0px 1px 3px 0px transparentize($am-color-black, 0.85);

  &__call {
    padding: $am-space-5;

    color: $am-color-white;

    &--primary {
      background-color: $am-color-primary;
    }

    &--success {
      background-color: $am-color-success;
    }

    &--warning {
      background-color: $am-color-warning;
    }

    &--failure {
      background-color: $am-color-failure;
    }
  }

  &__head {
    padding: $am-space-5 $am-space-5 0;
  }

  &__hero {
    display: block;
    width: 100%;

    padding: 0;
    margin: 0;
  }

  &__body {
    padding: $am-space-5;
  }

  &__foot {
    padding: 0 $am-space-5 $am-space-5;
  }

  &__call:first-child,
  &__hero:first-child {
    border-top-left-radius: $am-radius-regular;
    border-top-right-radius: $am-radius-regular;
  }
}
