.am-card {
  box-sizing: border-box;

  border-radius: 3px;
  background-color: $am-color-white;

  box-shadow: 0px 0px 4px 1px transparentize($am-color-black, 0.95);

  &__call {
    padding: 18px;

    color: $am-color-white;

    &--primary {
      background-color: $am-color-primary;
    }

    &--success {
      background-color: $am-color-success;
    }

    &--warning {
      background-color: $am-color-warning;
    }

    &--failure {
      background-color: $am-color-failure;
    }
  }

  &__head {
    padding: 18px 18px 0;
  }

  &__hero {
    display: block;
    width: 100%;

    padding: 0;
    margin: 0;
  }

  &__body {
    padding: 18px;
  }

  &__foot {
    padding: 0 18px 18px;
  }

  &__call:first-child,
  &__hero:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}
