.am-text-main {
  color: lighten($am-palette-black, 20%);
}

.am-text-misc {
  color: lighten($am-palette-black, 40%);
}

.am-text-mute {
  color: lighten($am-palette-black, 60%);
}

.am-text-primary {
  color: $am-palette-primary;
}

.am-text-success {
  color: $am-palette-success;
}

.am-text-warning {
  color: $am-palette-warning;
}

.am-text-failure {
  color: $am-palette-failure;
}
