.am-bold,
.am-b {
  font-weight: 700;
}

.am-italic,
.am-i {
  font-style: italic;
}

.am-underline,
.am-u {
  text-decoration: solid underline;
}

.am-strikethrough,
.am-s {
  text-decoration: solid line-through;
}

.am-subscript,
.am-sub {
  font-size: 0.8em;
  vertical-align: sub;
}

.am-superscript,
.am-sup {
  font-size: 0.8em;
  vertical-align: super;
}

.am-blockquote {
  display: block;
  padding: 8px 12px;

  border-left: solid 3px lighten($am-color-black, 60%);
  border-radius: 0 3px 3px 0;

  background-color: lighten($am-color-black, 90%);
}

.am-code {
  padding: 0 0.1em;

  font-family: monospace;

  border-radius: 3px;

  color: lighten($am-color-black, 20%);
  background-color: lighten($am-color-black, 90%);
}

.am-blockcode {
  display: block;
  padding: 8px 12px !important;

  font-family: monospace;

  border-radius: 3px;

  background-color: lighten($am-color-black, 90%) !important;

  white-space: break-spaces;
}

.am-key {
  padding: 0 0.1em;

  font-family: monospace;

  border-radius: 3px;

  color: lighten($am-color-black, 80%);
  background-color: lighten($am-color-black, 20%);
}

.am-mark {
  padding: 0 0.1em;

  border-radius: 3px;

  color: lighten($am-color-black, 20%);
  background-color: lighten($am-color-warning, 45%);
  border-bottom: 1px solid transparentize($am-color-black, 0.9);
}
