.am-main {
  color: lighten($am-color-black, 20%);
}

.am-misc {
  color: lighten($am-color-black, 40%);
}

.am-mute {
  color: lighten($am-color-black, 60%);
}

.am-primary {
  color: $am-color-primary;
}

.am-success {
  color: $am-color-success;
}

.am-warning {
  color: $am-color-warning;
}

.am-failure {
  color: $am-color-failure;
}
