$-colors: (
  default: $am-color-default,
  primary: $am-color-primary,
  success: $am-color-success,
  warning: $am-color-warning,
  failure: $am-color-failure,
);

@each $key, $value in $-colors {
  .am-pulsing--#{$key} {
    animation: pulse-#{$key} 2s infinite;
  }

  .am-pulsing-once-#{$key} {
    animation: pulse-#{$key} 2s;
  }

  @keyframes pulse-#{$key} {
    0% {
      box-shadow: 0 0 0 0 transparentize($value, 0.6);
    }

    75% {
      box-shadow: 0 0 0 8px transparent;
    }

    100% {
      box-shadow: 0 0 0 0 transparent;
    }
  }
}
