.am-text-size-0 {
  font-size: $am-font-size-0;
}

.am-text-size-1 {
  font-size: $am-font-size-1;
}

.am-text-size-2 {
  font-size: $am-font-size-2;
}

.am-text-size-3 {
  font-size: $am-font-size-3;
}

.am-text-size-4 {
  font-size: $am-font-size-4;
}

.am-text-size-5 {
  font-size: $am-font-size-5;
}

.am-text-size-6 {
  font-size: $am-font-size-6;
}

.am-text-size-7 {
  font-size: $am-font-size-7;
}
