@use '../../core';

.am-tip {
  font-size: 10pt;
  font-weight: 600;

  &--neutral {
    color: lighten(core.$am-color-black, 60%);
  }

  &--success {
    color: core.$am-color-success;
  }

  &--warning {
    color: core.$am-color-warning;
  }

  &--failure {
    color: core.$am-color-failure;
  }
}