// TODO: make it interactive
// TODO: make it able to handle left and right action buttons
// TODO: size modifiers

@mixin -coloring($color) {
  color: $color;
  background-color: transparentize($color, 0.95);
}

.am-badge {
  display: inline-block;
  vertical-align: middle;

  max-width: $am-size-0 * 4;
  min-height: $am-size-3;
  line-height: $am-size-3;
  padding: rem(2px) $am-space-9;
  margin: rem(2px);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: $am-font-size-7;
  font-weight: $am-font-weight-normal;

  border-radius: $am-radius-regular;

  &--primary {
    @include -coloring($am-palette-primary);
  }

  &--success {
    @include -coloring($am-palette-success);
  }

  &--warning {
    @include -coloring($am-palette-warning);
  }

  &--failure {
    @include -coloring($am-palette-failure);
  }
}
