.am-blob {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  padding: 0px 12px;
  margin: 2px;
  min-width: 24px;
  min-height: 26px;
  line-height: 26px;

  border-radius: 1000px;

  font-size: 0.8em;
  font-weight: 400;

  text-align: center;
  white-space: nowrap;

  & {
    color: $am-color-white;
  }

  &--default {
    background-color: $am-color-default;
  }

  &--primary {
    background-color: $am-color-primary;
  }

  &--success {
    background-color: $am-color-success;
  }

  &--warning {
    background-color: $am-color-warning;
  }

  &--failure {
    background-color: $am-color-failure;
  }
}
