.am-blob {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  min-width: $am-size-2;
  min-height: $am-size-3;
  line-height: $am-size-3;
  padding: rem(2px) $am-space-8;
  margin: rem(2px);

  font-size: $am-font-size-7;
  font-weight: $am-font-weight-normal;

  border-radius: $am-radius-pill;

  text-align: center;
  white-space: nowrap;

  & {
    color: $am-palette-white;
  }

  &--primary {
    background-color: $am-palette-primary;
  }

  &--success {
    background-color: $am-palette-success;
  }

  &--warning {
    background-color: $am-palette-warning;
  }

  &--failure {
    background-color: $am-palette-failure;
  }
}
