.am-dot {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  min-width: $am-size-9;
  min-height: $am-size-9;

  margin: rem(2px);

  border-radius: $am-radius-circle;

  & {
    color: $am-color-white;
  }

  &--default {
    background-color: $am-color-default;
  }

  &--primary {
    background-color: $am-color-primary;
  }

  &--success {
    background-color: $am-color-success;
  }

  &--warning {
    background-color: $am-color-warning;
  }

  &--failure {
    background-color: $am-color-failure;
  }
}

.am-overdot {
  & {
    position: relative;
    overflow: visible !important;
  }

  &--top-left,
  &--bottom-left {
    &::before {
      content: ' ';
      position: absolute;
      display: block;

      width: $am-size-9;
      height: $am-size-9;

      border-radius: $am-radius-circle;
      box-shadow: 0 0 0 rem(2px) $am-color-white;
    }
  }

  &--top-right,
  &--bottom-right {
    &::after {
      content: ' ';
      position: absolute;
      display: block;

      width: $am-size-9;
      height: $am-size-9;

      border-radius: $am-radius-circle;
      box-shadow: 0 0 0 rem(2px) $am-color-white;
    }
  }

  &--top-left {
    &::before {
      top: -#{$am-size-9 / 2};
      left: -#{$am-size-9 / 2};
    }
  }

  &--top-right {
    &::after {
      top: -#{$am-size-9 / 2};
      right: -#{$am-size-9 / 2};
    }
  }

  &--bottom-left {
    &::before {
      bottom: -#{$am-size-9 / 2};
      left: -#{$am-size-9 / 2};
    }
  }

  &--bottom-right {
    &::after {
      bottom: -#{$am-size-9 / 2};
      right: -#{$am-size-9 / 2};
    }
  }

  &--default {
    &::before,
    &::after {
      background-color: $am-color-default;
    }
  }

  &--primary {
    &::before,
    &::after {
      background-color: $am-color-primary;
    }
  }

  &--success {
    &::before,
    &::after {
      background-color: $am-color-success;
    }
  }

  &--warning {
    &::before,
    &::after {
      background-color: $am-color-warning;
    }
  }

  &--failure {
    &::before,
    &::after {
      background-color: $am-color-failure;
    }
  }
}
