.am-link,
.am-a {
  & {
    color: $am-color-primary;
    text-decoration: none;

    transition: color 0.2s, box-shadow 0.2s;

    cursor: pointer;
  }

  &:hover {
    box-shadow: inset 0 -0.125em lighten($am-color-primary, 28%);
  }

  &:active {
    color: $am-color-failure;
    box-shadow: inset 0 -0.125em lighten($am-color-failure, 28%);
  }

  &--selected {
    color: lighten($am-color-black, 20%);
    font-weight: $am-font-weight-bold;

    pointer-events: none;
  }
}
