.am-list {
  @include am-blockspace($am-space-3, $am-space-3);

  padding-left: $am-space-3;
  line-height: $am-line-height-1;

  & li {
    @include am-blockspace($am-space-9 / 2, $am-space-9 / 2);

    padding-left: $am-space-9;
  }

  & .am-list {
    @include am-blockspace($am-space-9 / 2, $am-space-9 / 2);
  }
}

ul.am-list {
  list-style: disc;
}

ol.am-list {
  list-style: decimal;
}
