.am-font-size-0 {
  font-size: 4.5rem;
}

.am-font-size-1 {
  font-size: 3rem;
}

.am-font-size-2 {
  font-size: 2.25rem;
}

.am-font-size-3 {
  font-size: 1.5rem;
}

.am-font-size-4 {
  font-size: 1.25rem;
}

.am-font-size-5 {
  font-size: 1.125rem;
}

.am-font-size-6 {
  font-size: 1rem;
}

.am-font-size-7 {
  font-size: 0.875rem;
}

.am-font-weight-thin {
  font-weight: 200;
}

.am-font-weight-normal {
  font-weight: 400;
}

.am-font-weight-bold {
  font-weight: 700;
}

.am-font-weight-bolder {
  font-weight: 900;
}

.am-text-left {
  text-align: left;
}

.am-text-center {
  text-align: center;
}

.am-text-right {
  text-align: right;
}

.am-color-primary {
  color: #4169e1;
}

.am-color-success {
  color: #15c662;
}

.am-color-warning {
  color: #ff9011;
}

.am-color-failure {
  color: #e94e30;
}

.am-color-black-main {
  color: #333333;
}

.am-color-black-misc {
  color: #666666;
}

.am-color-black-mute {
  color: #999999;
}

.am-color-white-main {
  color: #fafafa;
}

.am-color-white-misc {
  color: whitesmoke;
}

.am-color-white-mute {
  color: #f0f0f0;
}

.am-background-primary {
  background-color: #4169e1;
}

.am-background-success {
  background-color: #15c662;
}

.am-background-warning {
  background-color: #ff9011;
}

.am-background-failure {
  background-color: #e94e30;
}

.am-background-black-main {
  background-color: #333333;
}

.am-background-black-misc {
  background-color: #666666;
}

.am-background-black-mute {
  background-color: #999999;
}

.am-background-white-main {
  background-color: #fafafa;
}

.am-background-white-misc {
  background-color: whitesmoke;
}

.am-background-white-mute {
  background-color: #f0f0f0;
}

/**
* Convert px value to em
*
* @param $value: value in pixel to convert, e.g. 24px
*
* @example
* padding-top: em(24px);
* // will be padding-top: 1.5em;
*
*/
/**
* Convert px value to rem
*
* @param $value: value in pixel to convert, e.g. 24px
*
* @example
* padding-top: rem(24px);
* // will be padding-top: 1.5rem;
*
*/
.am {
  margin: 0;
  color: #333333;
  font-family: "system-ui", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.am-pulsing--primary {
  animation: pulse-primary 2s infinite;
}

.am-pulsing-once-primary {
  animation: pulse-primary 2s;
}

@keyframes pulse-primary {
  0% {
    box-shadow: 0 0 0 0 rgba(65, 105, 225, 0.4);
  }
  75% {
    box-shadow: 0 0 0 8px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
.am-pulsing--success {
  animation: pulse-success 2s infinite;
}

.am-pulsing-once-success {
  animation: pulse-success 2s;
}

@keyframes pulse-success {
  0% {
    box-shadow: 0 0 0 0 rgba(21, 198, 98, 0.4);
  }
  75% {
    box-shadow: 0 0 0 8px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
.am-pulsing--warning {
  animation: pulse-warning 2s infinite;
}

.am-pulsing-once-warning {
  animation: pulse-warning 2s;
}

@keyframes pulse-warning {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 144, 17, 0.4);
  }
  75% {
    box-shadow: 0 0 0 8px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
.am-pulsing--failure {
  animation: pulse-failure 2s infinite;
}

.am-pulsing-once-failure {
  animation: pulse-failure 2s;
}

@keyframes pulse-failure {
  0% {
    box-shadow: 0 0 0 0 rgba(233, 78, 48, 0.4);
  }
  75% {
    box-shadow: 0 0 0 8px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
.am-card {
  box-sizing: border-box;
  border-radius: 0.1875rem;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.am-card {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-card__call {
  padding: 1.125rem;
  color: #ffffff;
}
.am-card__call--primary {
  background-color: #4169e1;
}
.am-card__call--success {
  background-color: #15c662;
}
.am-card__call--warning {
  background-color: #ff9011;
}
.am-card__call--failure {
  background-color: #e94e30;
}
.am-card__head {
  padding: 1.125rem 1.125rem 0;
}
.am-card__hero {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.am-card__body {
  padding: 1.125rem;
}
.am-card__foot {
  padding: 0 1.125rem 1.125rem;
}
.am-card__call:first-child, .am-card__hero:first-child {
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
}

.am-media {
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.125rem;
}
.am-media {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-media__hero {
  flex-grow: 0;
  flex-shrink: 0;
}
.am-media__body {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.am-media-image {
  display: block;
  width: 100%;
  height: 100%;
}
.am-media-image--small {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.am-media-image--regular {
  min-width: 2.375rem;
  min-height: 2.375rem;
  width: 2.375rem;
  height: 2.375rem;
  max-width: 2.375rem;
  max-height: 2.375rem;
}
.am-media-image--large {
  min-width: 3rem;
  min-height: 3rem;
  width: 3rem;
  height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
}
.am-media-image--circle {
  border-radius: 50%;
}
.am-media-image--square {
  border-radius: 0.1875rem;
}

.am-badge {
  display: inline-block;
  vertical-align: middle;
  max-width: 18rem;
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  margin: 0.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 0.1875rem;
}
.am-badge--primary {
  color: #4169e1;
  background-color: rgba(65, 105, 225, 0.05);
}
.am-badge--success {
  color: #15c662;
  background-color: rgba(21, 198, 98, 0.05);
}
.am-badge--warning {
  color: #ff9011;
  background-color: rgba(255, 144, 17, 0.05);
}
.am-badge--failure {
  color: #e94e30;
  background-color: rgba(233, 78, 48, 0.05);
}

.am-blob {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: 2.375rem;
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.125rem 0.75rem;
  margin: 0.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 10000px;
  text-align: center;
  white-space: nowrap;
}
.am-blob {
  color: #ffffff;
}
.am-blob--primary {
  background-color: #4169e1;
}
.am-blob--success {
  background-color: #15c662;
}
.am-blob--warning {
  background-color: #ff9011;
}
.am-blob--failure {
  background-color: #e94e30;
}

.am-dot {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: 0.5rem;
  min-height: 0.5rem;
  margin: 0.125rem;
  border-radius: 50%;
}
.am-dot {
  color: #ffffff;
}
.am-dot--primary {
  background-color: #4169e1;
}
.am-dot--success {
  background-color: #15c662;
}
.am-dot--warning {
  background-color: #ff9011;
}
.am-dot--failure {
  background-color: #e94e30;
}

.am-overdot {
  position: relative;
  overflow: visible !important;
}
.am-overdot--top-left::before, .am-overdot--bottom-left::before {
  content: " ";
  position: absolute;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0.125rem #ffffff;
}
.am-overdot--top-right::after, .am-overdot--bottom-right::after {
  content: " ";
  position: absolute;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0.125rem #ffffff;
}
.am-overdot--top-left::before {
  top: -0.25rem;
  left: -0.25rem;
}
.am-overdot--top-right::after {
  top: -0.25rem;
  right: -0.25rem;
}
.am-overdot--bottom-left::before {
  bottom: -0.25rem;
  left: -0.25rem;
}
.am-overdot--bottom-right::after {
  bottom: -0.25rem;
  right: -0.25rem;
}
.am-overdot--primary::before, .am-overdot--primary::after {
  background-color: #4169e1;
}
.am-overdot--success::before, .am-overdot--success::after {
  background-color: #15c662;
}
.am-overdot--warning::before, .am-overdot--warning::after {
  background-color: #ff9011;
}
.am-overdot--failure::before, .am-overdot--failure::after {
  background-color: #e94e30;
}

.am-hr {
  border: none;
  width: 100%;
  height: 1px;
  margin: 1.5rem 0;
  background-color: #cccccc;
}

.am-link,
.am-a {
  color: #4169e1;
  text-decoration: none;
  transition: color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.am-link:hover,
.am-a:hover {
  box-shadow: inset 0 -0.125em #bccaf4;
}
.am-link:active,
.am-a:active {
  color: #e94e30;
  box-shadow: inset 0 -0.125em #f7bcb1;
}
.am-link--selected,
.am-a--selected {
  color: #333333;
  font-weight: 700;
  pointer-events: none;
}

.am-table {
  border-collapse: collapse;
  width: 100%;
}
.am-table thead tr {
  border-bottom: solid 1px #999999;
}
.am-table tbody tr {
  border-top: solid 1px #cccccc;
}
.am-table tbody tr:first-child {
  border-top: 0;
}
.am-table tfoot tr {
  border-top: solid 1px #999999;
}
.am-table th {
  text-align: left;
  font-weight: 700;
}
.am-table--comfy th,
.am-table--comfy td {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
.am-table--compact th,
.am-table--compact td {
  font-size: 0.875rem;
  padding: 0.25rem;
  border-left: solid 1px #cccccc;
}
.am-table--compact th:first-child,
.am-table--compact td:first-child {
  border-left: none;
}
.am-table--interactive tbody tr {
  transition: background-color 0.2s;
  cursor: pointer;
}
.am-table--interactive tbody tr:hover {
  background-color: #d9d9d9;
}
.am-table--interactive tbody tr:active {
  background-color: #cccccc;
}
.am-table--mark-primary {
  background-color: #d9e1f9;
}
.am-table--interactive .am-table--mark-primary:hover {
  background-color: #d0daf8;
}
.am-table--interactive .am-table--mark-primary:active {
  background-color: #c6d2f6;
}
.am-table--selection-primary {
  border-color: #b3c3f3 !important;
}
.am-table--mark-success {
  background-color: #d0f4e0;
}
.am-table--interactive .am-table--mark-success:hover {
  background-color: #c5f1d8;
}
.am-table--interactive .am-table--mark-success:active {
  background-color: #b9eed0;
}
.am-table--selection-success {
  border-color: #a1e8c0 !important;
}
.am-table--mark-warning {
  background-color: #ffe9cf;
}
.am-table--interactive .am-table--mark-warning:hover {
  background-color: #ffe3c4;
}
.am-table--interactive .am-table--mark-warning:active {
  background-color: #ffdeb8;
}
.am-table--selection-warning {
  border-color: #ffd3a0 !important;
}
.am-table--mark-failure {
  background-color: #fbdcd6;
}
.am-table--interactive .am-table--mark-failure:hover {
  background-color: #fad3cb;
}
.am-table--interactive .am-table--mark-failure:active {
  background-color: #f8cac1;
}
.am-table--selection-failure {
  border-color: #f6b8ac !important;
}
.am-table--selection-t {
  border-top-width: 3px !important;
  border-top-style: solid;
}
.am-table--selection-r {
  border-right-width: 3px !important;
  border-right-style: solid;
}
.am-table--selection-tr {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
}
.am-table--selection-b {
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-tb {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-rb {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-trb {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
}
.am-table--selection-l {
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-tl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-rl {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-trl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-bl {
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-tbl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-rbl {
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-trbl {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--selection-a {
  border-top-width: 3px !important;
  border-top-style: solid;
  border-right-width: 3px !important;
  border-right-style: solid;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  border-left-width: 3px !important;
  border-left-style: solid;
}
.am-table--align-a {
  text-align: center;
  vertical-align: middle;
}
.am-table--align-t {
  vertical-align: top;
}
.am-table--align-tl {
  text-align: left;
  vertical-align: top;
}
.am-table--align-tc {
  text-align: center;
  vertical-align: top;
}
.am-table--align-tr {
  text-align: right;
  vertical-align: top;
}
.am-table--align-m {
  vertical-align: middle;
}
.am-table--align-ml {
  text-align: left;
  vertical-align: middle;
}
.am-table--align-mc {
  text-align: center;
  vertical-align: middle;
}
.am-table--align-mr {
  text-align: right;
  vertical-align: middle;
}
.am-table--align-b {
  vertical-align: bottom;
}
.am-table--align-bl {
  text-align: left;
  vertical-align: bottom;
}
.am-table--align-bc {
  text-align: center;
  vertical-align: bottom;
}
.am-table--align-br {
  text-align: right;
  vertical-align: bottom;
}
.am-table--align-l {
  text-align: left;
}
.am-table--align-c {
  text-align: left;
}
.am-table--align-r {
  text-align: left;
}
.am-table--nowrap {
  white-space: nowrap;
}
.am-table--thin {
  width: 1%;
}

.am-table-scroller-x {
  overflow-x: auto;
}

.am-switch, .am-radio, .am-checkbox, .am-input,
.am-select,
.am-textarea, .am-button {
  outline: none;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
}

.am-button:active {
  -webkit-tap-highlight-color: transparent;
}

.am-button {
  min-width: 4.5rem;
  max-width: 100%;
  height: 2.375rem;
  padding: 0 1.125rem;
  border-radius: 0.1875rem;
  border-width: 0.0625rem;
  border-style: solid;
  font-family: "system-ui", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.am-button--primary:focus {
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
  z-index: 1;
}
.am-button--primary:disabled {
  cursor: not-allowed;
}
.am-button--primary.am-button--main {
  color: #ffffff;
  background-color: #4169e1;
  border-color: transparent;
}
.am-button--primary.am-button--main:hover {
  background-color: #2b58de;
}
.am-button--primary.am-button--main:active {
  background-color: #577ae4;
}
.am-button--primary.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--primary.am-button--misc {
  color: #4169e1;
  background-color: transparent;
  border-color: #4169e1;
}
.am-button--primary.am-button--misc:hover {
  color: #ffffff;
  background-color: #2b58de;
  border-color: transparent;
}
.am-button--primary.am-button--misc:active {
  background-color: #577ae4;
}
.am-button--primary.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--primary.am-button--text {
  color: #4169e1;
  background-color: transparent;
  border-color: transparent;
}
.am-button--primary.am-button--text:hover {
  color: #ffffff;
  background-color: #2b58de;
}
.am-button--primary.am-button--text:active {
  background-color: #577ae4;
}
.am-button--primary.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--success:focus {
  box-shadow: 0px 0px 0px 3px rgba(21, 198, 98, 0.35);
  z-index: 1;
}
.am-button--success:disabled {
  cursor: not-allowed;
}
.am-button--success.am-button--main {
  color: #ffffff;
  background-color: #15c662;
  border-color: transparent;
}
.am-button--success.am-button--main:hover {
  background-color: #13af57;
}
.am-button--success.am-button--main:active {
  background-color: #17dd6d;
}
.am-button--success.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--success.am-button--misc {
  color: #15c662;
  background-color: transparent;
  border-color: #15c662;
}
.am-button--success.am-button--misc:hover {
  color: #ffffff;
  background-color: #13af57;
  border-color: transparent;
}
.am-button--success.am-button--misc:active {
  background-color: #17dd6d;
}
.am-button--success.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--success.am-button--text {
  color: #15c662;
  background-color: transparent;
  border-color: transparent;
}
.am-button--success.am-button--text:hover {
  color: #ffffff;
  background-color: #13af57;
}
.am-button--success.am-button--text:active {
  background-color: #17dd6d;
}
.am-button--success.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--warning:focus {
  box-shadow: 0px 0px 0px 3px rgba(255, 144, 17, 0.35);
  z-index: 1;
}
.am-button--warning:disabled {
  cursor: not-allowed;
}
.am-button--warning.am-button--main {
  color: #ffffff;
  background-color: #ff9011;
  border-color: transparent;
}
.am-button--warning.am-button--main:hover {
  background-color: #f78400;
}
.am-button--warning.am-button--main:active {
  background-color: #ff9c2b;
}
.am-button--warning.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--warning.am-button--misc {
  color: #ff9011;
  background-color: transparent;
  border-color: #ff9011;
}
.am-button--warning.am-button--misc:hover {
  color: #ffffff;
  background-color: #f78400;
  border-color: transparent;
}
.am-button--warning.am-button--misc:active {
  background-color: #ff9c2b;
}
.am-button--warning.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--warning.am-button--text {
  color: #ff9011;
  background-color: transparent;
  border-color: transparent;
}
.am-button--warning.am-button--text:hover {
  color: #ffffff;
  background-color: #f78400;
}
.am-button--warning.am-button--text:active {
  background-color: #ff9c2b;
}
.am-button--warning.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--failure:focus {
  box-shadow: 0px 0px 0px 3px rgba(233, 78, 48, 0.35);
  z-index: 1;
}
.am-button--failure:disabled {
  cursor: not-allowed;
}
.am-button--failure.am-button--main {
  color: #ffffff;
  background-color: #e94e30;
  border-color: transparent;
}
.am-button--failure.am-button--main:hover {
  background-color: #e73a19;
}
.am-button--failure.am-button--main:active {
  background-color: #eb6247;
}
.am-button--failure.am-button--main:disabled {
  color: #999999;
  background-color: #cccccc;
}
.am-button--failure.am-button--misc {
  color: #e94e30;
  background-color: transparent;
  border-color: #e94e30;
}
.am-button--failure.am-button--misc:hover {
  color: #ffffff;
  background-color: #e73a19;
  border-color: transparent;
}
.am-button--failure.am-button--misc:active {
  background-color: #eb6247;
}
.am-button--failure.am-button--misc:disabled {
  color: #999999;
  background-color: transparent;
  border-color: #cccccc;
}
.am-button--failure.am-button--text {
  color: #e94e30;
  background-color: transparent;
  border-color: transparent;
}
.am-button--failure.am-button--text:hover {
  color: #ffffff;
  background-color: #e73a19;
}
.am-button--failure.am-button--text:active {
  background-color: #eb6247;
}
.am-button--failure.am-button--text:disabled {
  color: #999999;
  background-color: transparent;
}
.am-button--block {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-input,
.am-select,
.am-textarea {
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.am-input,
.am-select,
.am-textarea {
  min-width: 4.5rem;
  width: 12rem;
  height: 2.375rem;
  padding: 0 0.5rem;
  font-family: "system-ui", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 0.1875rem;
}
.am-input::placeholder,
.am-select::placeholder,
.am-textarea::placeholder {
  opacity: 1;
}
.am-input,
.am-select,
.am-textarea {
  color: #1a1a1a;
  background-color: white;
  border-color: #cccccc;
}
.am-input::placeholder,
.am-select::placeholder,
.am-textarea::placeholder {
  color: rgba(26, 26, 26, 0.3);
}
.am-input:hover,
.am-select:hover,
.am-textarea:hover {
  border-color: #999999;
}
.am-input:focus,
.am-select:focus,
.am-textarea:focus {
  border-color: #4169e1;
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
  z-index: 1;
}
.am-input:focus::placeholder,
.am-select:focus::placeholder,
.am-textarea:focus::placeholder {
  color: rgba(26, 26, 26, 0.2);
}
.am-input:focus:hover,
.am-select:focus:hover,
.am-textarea:focus:hover {
  border-color: #1d44b8;
}
.am-input--valid, .am-input--validable:valid,
.am-select--valid,
.am-select--validable:valid,
.am-textarea--valid,
.am-textarea--validable:valid {
  border-color: #15c662;
}
.am-input--valid:hover, .am-input--validable:valid:hover,
.am-select--valid:hover,
.am-select--validable:valid:hover,
.am-textarea--valid:hover,
.am-textarea--validable:valid:hover {
  border-color: #13af57;
}
.am-input--valid:focus, .am-input--validable:valid:focus,
.am-select--valid:focus,
.am-select--validable:valid:focus,
.am-textarea--valid:focus,
.am-textarea--validable:valid:focus {
  border-color: #13af57;
  box-shadow: 0px 0px 0px 3px rgba(21, 198, 98, 0.35);
}
.am-input--valid:focus:hover, .am-input--validable:valid:focus:hover,
.am-select--valid:focus:hover,
.am-select--validable:valid:focus:hover,
.am-textarea--valid:focus:hover,
.am-textarea--validable:valid:focus:hover {
  border-color: #13af57;
}
.am-input--invalid, .am-input--invalidable:invalid,
.am-select--invalid,
.am-select--invalidable:invalid,
.am-textarea--invalid,
.am-textarea--invalidable:invalid {
  border-color: #e94e30;
}
.am-input--invalid:hover, .am-input--invalidable:invalid:hover,
.am-select--invalid:hover,
.am-select--invalidable:invalid:hover,
.am-textarea--invalid:hover,
.am-textarea--invalidable:invalid:hover {
  border-color: #e73a19;
}
.am-input--invalid:focus, .am-input--invalidable:invalid:focus,
.am-select--invalid:focus,
.am-select--invalidable:invalid:focus,
.am-textarea--invalid:focus,
.am-textarea--invalidable:invalid:focus {
  border-color: #e73a19;
  box-shadow: 0px 0px 0px 3px rgba(233, 78, 48, 0.35);
}
.am-input--invalid:focus:hover, .am-input--invalidable:invalid:focus:hover,
.am-select--invalid:focus:hover,
.am-select--invalidable:invalid:focus:hover,
.am-textarea--invalid:focus:hover,
.am-textarea--invalidable:invalid:focus:hover {
  border-color: #e73a19;
}
.am-input--ghost,
.am-select--ghost,
.am-textarea--ghost {
  border-color: transparent;
  background-color: transparent;
}
.am-input--block,
.am-select--block,
.am-textarea--block {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-input:disabled,
.am-select:disabled,
.am-textarea:disabled {
  cursor: not-allowed;
  color: rgba(26, 26, 26, 0.5);
  background-color: rgba(191, 191, 191, 0.5);
  border-color: rgba(204, 204, 204, 0.5);
}
.am-input::placeholder,
.am-select::placeholder,
.am-textarea::placeholder {
  transition: color 0.2s;
}

.am-input[list]::-webkit-calendar-picker-indicator {
  display: none;
}

.am-input[type=search],
.am-input[type=time],
.am-input[type=date] {
  appearance: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.am-input[type=search]::-webkit-search-cancel-button,
.am-input[type=time]::-webkit-calendar-picker-indicator,
.am-input[type=date]::-webkit-calendar-picker-indicator {
  margin: 0 -0.5rem 0 0;
  padding: 0;
  height: 1.875rem;
  width: 1.875rem;
  background-repeat: no-repeat;
  background-position: center right 0.25rem;
  background-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.am-input[type=search]::-webkit-search-cancel-button {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='m2.039 1.852-0.1871 0.1871 1.136 1.136-1.136 1.136 0.1871 0.1871 1.136-1.136 1.136 1.136 0.1871-0.1871-1.136-1.136 1.136-1.136-0.1871-0.1871-1.136 1.136z'/%3E%3C/svg%3E");
  -webkit-appearance: none;
  opacity: 1;
}

.am-input[type=time]::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='m3.175 1.587a1.587 1.587 0 0 0-1.588 1.588 1.587 1.587 0 0 0 1.588 1.588 1.587 1.587 0 0 0 1.588-1.588 1.587 1.587 0 0 0-1.588-1.588zm0 0.2646a1.323 1.323 0 0 1 1.323 1.323 1.323 1.323 0 0 1-1.323 1.323 1.323 1.323 0 0 1-1.323-1.323 1.323 1.323 0 0 1 1.323-1.323zm-0.1323 0.3969v1.003l0.7534 0.4351 0.1323-0.2294-0.6212-0.3586v-0.8496z'/%3E%3C/svg%3E");
}

.am-input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='m1.852 1.323v0.2646c-0.1461 0-0.2646 0.1184-0.2646 0.2645v2.646c0 0.1461 0.1184 0.2646 0.2646 0.2646h2.646c0.1461 0 0.2646-0.1185 0.2646-0.2646v-2.646c0-0.1461-0.1185-0.2645-0.2646-0.2645v-0.2646h-0.2646v0.2646h-2.117v-0.2646zm0 1.323h2.646v1.852h-2.646zm0.2646 0.2646v0.7938h0.7938v-0.7938z'/%3E%3C/svg%3E");
}

.am-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 100%;
  padding-right: 2.125rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='m1.775 2.288-0.1871 0.1871 1.588 1.587 1.587-1.587-0.1871-0.1871-1.4 1.4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right 0.25rem;
  background-size: 1.5rem;
}

.am-textarea {
  max-width: 100%;
  min-height: 2.375rem;
  height: 5.25rem;
  padding: 0.5rem 0.5rem;
}
.am-textarea--block {
  resize: vertical;
}

.am-radio, .am-checkbox {
  min-width: 1.125rem;
  min-height: 2.375rem;
  cursor: pointer;
}
.am-radio::before, .am-checkbox::before {
  content: " ";
  display: block;
  width: 1rem;
  height: 1rem;
  margin-left: calc(50% - 0.5625rem);
  margin-top: 0.625rem;
  border-style: solid;
  border-width: 0.0625rem;
}

.am-switch, .am-radio, .am-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.am-checkbox::before {
  border-radius: 0.1875rem;
}
.am-checkbox::before {
  background-color: white;
  background-size: 0;
  border-color: #cccccc;
}
.am-checkbox:hover::before {
  border-color: #999999;
}
.am-checkbox:focus::before {
  border-color: #4169e1;
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}
.am-checkbox:checked::before {
  border-color: transparent;
  background-color: #4169e1;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='m1.654 3.175 0.463-0.463 0.6615 0.6615 1.356-1.356 0.4629 0.463-1.819 1.819z'/%3E%3C/svg%3E");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.am-checkbox:checked:hover::before {
  background-color: #1d44b8;
}
.am-checkbox:disabled {
  cursor: not-allowed;
}
.am-checkbox:disabled::before {
  border-color: rgba(204, 204, 204, 0.5);
}
.am-checkbox:disabled:checked::before {
  border-color: transparent;
  background-color: rgba(65, 105, 225, 0.5);
}
.am-checkbox::before {
  transition: background-color 0.2s, background-size 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.am-radio::before {
  border-radius: 50%;
}
.am-radio::before {
  background-color: white;
  background-size: 0;
  border-color: #cccccc;
}
.am-radio:hover::before {
  border-color: #999999;
}
.am-radio:focus::before {
  border-color: #4169e1;
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}
.am-radio:checked::before {
  border-color: transparent;
  background-color: #4169e1;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='m4.316 3.175a1.141 1.141 0 0 1-1.141 1.141 1.141 1.141 0 0 1-1.141-1.141 1.141 1.141 0 0 1 1.141-1.141 1.141 1.141 0 0 1 1.141 1.141z'/%3E%3C/svg%3E");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.am-radio:checked:hover::before {
  background-color: #1d44b8;
}
.am-radio:disabled {
  cursor: not-allowed;
}
.am-radio:disabled::before {
  border-color: rgba(204, 204, 204, 0.5);
}
.am-radio:disabled:checked::before {
  border-color: transparent;
  background-color: rgba(65, 105, 225, 0.5);
}
.am-radio::before {
  transition: background-color 0.2s, background-size 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.am-switch {
  min-width: 2.375rem;
  min-height: 2.375rem;
  cursor: pointer;
}
.am-switch::before {
  content: " ";
  display: block;
  width: calc(100% - 0.125rem);
  height: 1.125rem;
  margin-top: 0.5625rem;
  border-radius: 10000px;
  border: solid 0.0625rem transparent;
}
.am-switch::after {
  content: " ";
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.25rem;
  margin-top: -1rem;
  border-radius: 50%;
}
.am-switch:checked::after {
  margin-left: calc(100% - 1rem);
}
.am-switch::before {
  background-color: #cccccc;
}
.am-switch::after {
  background-color: #f2f2f2;
}
.am-switch:hover::before {
  background-color: #999999;
}
.am-switch:focus::before {
  border-color: #4169e1;
  box-shadow: 0px 0px 0px 3px rgba(65, 105, 225, 0.35);
}
.am-switch:checked::before {
  border-color: transparent;
  background-color: #4169e1;
}
.am-switch:checked::after {
  background-color: #f2f2f2;
}
.am-switch:checked:hover::before {
  background-color: #1d44b8;
}
.am-switch:disabled {
  cursor: not-allowed;
}
.am-switch:disabled::before {
  background-color: rgba(204, 204, 204, 0.5);
}
.am-switch:disabled:checked::before {
  border-color: transparent;
  background-color: rgba(65, 105, 225, 0.5);
}
.am-switch::before {
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.am-switch::after {
  transition: background-color 0.2s, border-color 0.2s, margin-left 0.2s;
}

.am-field {
  display: flex !important;
}
.am-field {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-field__input .am-field {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.am-field--column {
  flex-direction: column;
}
.am-field--column > .am-field__label {
  margin-bottom: 0.5rem;
}
.am-field--column > .am-field__input {
  width: 100%;
}
.am-field--column > .am-field__input > * {
  width: 100%;
}
.am-field--row {
  flex-direction: row;
  flex-wrap: nowrap;
}
.am-field--row > .am-field__label {
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  width: 40%;
}
.am-field--row > .am-field__input {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.am-field--row > .am-field__input > * {
  width: 100%;
}
.am-field--row > .am-field__input > .am-textarea {
  flex-grow: 1;
  flex-shrink: 1;
  resize: vertical;
}
.am-field--box {
  flex-direction: row-reverse;
}
.am-field--box > .am-field__input:first-child {
  margin-left: 0.75rem;
}
.am-field--box > .am-field__input:last-child {
  margin-right: 0.75rem;
}
.am-field--box > .am-field__label {
  margin-top: 0.4375rem;
  flex-grow: 1;
}
.am-field__tip {
  margin-top: 0.5rem;
}

.am-group {
  display: inline-flex;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 100%;
}
.am-group > .am-item {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 0.5rem;
  color: #666666;
  background-color: #e6e6e6;
  border: solid #cccccc 0.0625rem;
  border-right: none;
}
.am-group > .am-checkbox, .am-group > .am-radio {
  min-width: 2.25rem;
  background-color: #e6e6e6;
  border: solid #cccccc 0.0625rem;
  border-right: none;
}
.am-group > .am-switch {
  min-width: 3.5rem;
  width: 3.5rem;
  padding: 0 0.5rem;
  background-color: #e6e6e6;
  border: solid 0.0625rem #cccccc;
  border-right: none;
}
.am-group > .am-input, .am-group > .am-select, .am-group > .am-textarea {
  flex-grow: 1;
  width: 1%;
}
.am-group > .am-button {
  flex-shrink: 1;
}
.am-group > .am-item, .am-group > .am-input, .am-group > .am-select, .am-group > .am-textarea, .am-group > .am-button {
  box-sizing: border-box;
  margin-right: -0.0625rem;
  border-radius: 0;
}
.am-group > .am-item:first-child, .am-group > .am-input:first-child, .am-group > .am-select:first-child, .am-group > .am-textarea:first-child, .am-group > .am-checkbox:first-child, .am-group > .am-radio:first-child, .am-group > .am-switch:first-child, .am-group > .am-button:first-child {
  border-radius: 0.1875rem 0 0 0.1875rem;
}
.am-group > .am-item:first-child {
  border-left: solid 1px #cccccc;
}
.am-group > .am-item:last-child, .am-group > .am-input:last-child, .am-group > .am-select:last-child, .am-group > .am-textarea:last-child, .am-group > .am-checkbox:last-child, .am-group > .am-radio:last-child, .am-group > .am-switch:last-child, .am-group > .am-button:last-child {
  border-radius: 0 0.1875rem 0.1875rem 0;
  margin-right: 0;
}
.am-group > .am-checkbox:last-child, .am-group > .am-radio:last-child, .am-group > .am-switch:last-child, .am-group > .am-item:last-child {
  border-right: solid 0.0625rem #cccccc;
}
.am-group > .am-item:only-child, .am-group > .am-input:only-child, .am-group > .am-select:only-child, .am-group > .am-textarea:only-child, .am-group > .am-button:only-child {
  border-radius: 0.1875rem;
  margin-right: 0;
}
.am-group--block {
  display: flex !important;
}
.am-group--block {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-group--block .am-button--block {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.am-block, .am-blockcode, .am-blockquote, .am-paragraph,
.am-p, .am-heading-6,
.am-h6, .am-heading-5,
.am-h5, .am-heading-4,
.am-h4, .am-heading-3,
.am-h3, .am-heading-2,
.am-h2, .am-heading-1,
.am-h1, .am-display,
.am-d, .am-navbar, .am-card, .am-media, .am-button--block, .am-input--block,
.am-select--block,
.am-textarea--block, .am-field, .am-group--block {
  display: block;
  margin: 0;
  width: 100%;
}
.am-block:first-child, .am-blockcode:first-child, .am-blockquote:first-child, .am-paragraph:first-child,
.am-p:first-child, .am-heading-6:first-child,
.am-h6:first-child, .am-heading-5:first-child,
.am-h5:first-child, .am-heading-4:first-child,
.am-h4:first-child, .am-heading-3:first-child,
.am-h3:first-child, .am-heading-2:first-child,
.am-h2:first-child, .am-heading-1:first-child,
.am-h1:first-child, .am-display:first-child,
.am-d:first-child, .am-navbar:first-child, .am-card:first-child, .am-media:first-child, .am-button--block:first-child, .am-input--block:first-child,
.am-select--block:first-child,
.am-textarea--block:first-child, .am-field:first-child, .am-group--block:first-child {
  margin-top: 0 !important;
}
.am-block:last-child, .am-blockcode:last-child, .am-blockquote:last-child, .am-paragraph:last-child,
.am-p:last-child, .am-heading-6:last-child,
.am-h6:last-child, .am-heading-5:last-child,
.am-h5:last-child, .am-heading-4:last-child,
.am-h4:last-child, .am-heading-3:last-child,
.am-h3:last-child, .am-heading-2:last-child,
.am-h2:last-child, .am-heading-1:last-child,
.am-h1:last-child, .am-display:last-child,
.am-d:last-child, .am-navbar:last-child, .am-card:last-child, .am-media:last-child, .am-button--block:last-child, .am-input--block:last-child,
.am-select--block:last-child,
.am-textarea--block:last-child, .am-field:last-child, .am-group--block:last-child {
  margin-bottom: 0 !important;
}

.am-block--s {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.am-block--m {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-block--l {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.am-content {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  height: 100%;
  box-sizing: border-box;
  min-width: 0;
}
.am--layout-thin .am-content, .am-content--narrow {
  width: 45rem;
}
.am--layout-wide .am-content, .am-content--wide {
  width: 85rem;
}
.am--layout-full .am-content, .am-content--full {
  width: 100%;
}
.am-content--sides {
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .am-content--sides {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .am-content--sides {
    flex-direction: row;
  }
  .am-content__side {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 300px;
    min-width: 0;
  }
  .am-content__main {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;
    min-width: 0;
  }
}

.am-page-foot, .am-page-body, .am-page-hero, .am-page-head, .am-page-call {
  display: flex;
}

.am-page-call {
  border-bottom: solid 0.0625rem #e6e6e6;
}

.am-page-head {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-bottom: solid 0.0625rem #e6e6e6;
}
.am-page-head > .am-content {
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.am-page-hero > .am-content {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.am-page-body {
  background-color: white;
}
.am-page-body > .am-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.am-page-foot {
  background-color: white;
  border-top: solid 0.0625rem #e6e6e6;
}
.am-page-foot > .am-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.am-navbar {
  display: flex;
  gap: 1.125rem;
  align-items: center;
}
.am-navbar {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-navbar--top {
  align-items: flex-start;
}
.am-navbar--left {
  justify-content: flex-start;
}
.am-navbar--right {
  justify-content: flex-end;
}
.am-navbar--sides {
  justify-content: space-between;
}
.am-navbar > .am-item--max {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}
.am-navbar > .am-item--min {
  flex-grow: 0;
  flex-shrink: 0;
}
.am-navbar > .am-item--trunc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.am-navbar > .am-item--wrap {
  overflow: visible;
  white-space: normal;
  text-overflow: unset;
}

.am-display,
.am-d {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 1.25;
}
.am-display,
.am-d {
  margin-top: 3rem !important;
  margin-bottom: 1.5rem !important;
}

.am-heading-1,
.am-h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 1.25;
}
.am-heading-1,
.am-h1 {
  margin-top: 2.25rem !important;
  margin-bottom: 1.5rem !important;
}

.am-heading-2,
.am-h2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 1.25;
}
.am-heading-2,
.am-h2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-heading-3,
.am-h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 1.25;
}
.am-heading-3,
.am-h3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-heading-4,
.am-h4 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  line-height: 1.5;
}
.am-heading-4,
.am-h4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-heading-5,
.am-h5 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  line-height: 1.5;
}
.am-heading-5,
.am-h5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-heading-6,
.am-h6 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  line-height: 1.5;
}
.am-heading-6,
.am-h6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-regular {
  font-size: 1rem;
}

.am-small {
  font-size: 0.875rem;
}

.am-bold,
.am-b {
  font-weight: 700;
}

.am-italic,
.am-i {
  font-style: italic;
}

.am-underline,
.am-u {
  text-decoration: solid underline;
}

.am-strikethrough,
.am-s {
  text-decoration: solid line-through;
}

.am-subscript,
.am-sub {
  font-size: 0.875rem;
  vertical-align: sub;
}

.am-superscript,
.am-sup {
  font-size: 0.875rem;
  vertical-align: super;
}

.am-paragraph,
.am-p {
  line-height: 1.5;
}
.am-paragraph,
.am-p {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-blockquote {
  box-sizing: border-box;
  padding: 1.25rem 2.25rem;
  padding-left: 1.75rem;
  border-left: solid 0.5rem whitesmoke;
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  background-color: #fafafa;
}
.am-blockquote {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-blockcode {
  box-sizing: border-box;
  padding: 1.25rem 2.25rem;
  font-family: monospace;
  line-height: 1.5;
  white-space: break-spaces;
  word-break: break-all;
  border-radius: 0.1875rem;
  background-color: #fafafa !important;
}
.am-blockcode {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.am-code {
  padding: 0.0625em 0.125em;
  margin: 0 -0.125em;
  font-family: monospace;
  border-radius: 0.1875rem;
  color: #333333;
  background-color: #fafafa;
}

.am-key {
  padding: 0.0625em 0.125em;
  margin: 0 -0.125em;
  font-family: monospace;
  border-radius: 0.1875rem;
  color: #cccccc;
  background-color: #333333;
}

.am-mark {
  padding: 0.0625em 0.125em;
  margin: 0 -0.125em;
  border-radius: 0.1875rem;
  color: #333333;
  background-color: #fff4e7;
}

.am-note {
  font-size: 0.875rem;
  color: #999999;
}

.am-list {
  padding-left: 1.5rem;
  line-height: 1.5;
}
.am-list {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.am-list li {
  padding-left: 0.25rem;
}
.am-list li {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.am-list .am-list {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

ul.am-list {
  list-style: disc;
}

ol.am-list {
  list-style: decimal;
}