extends pages/common/layout.pug
include pages/common/side.pug

block hero
  div.am-page-hero.am-background-primary
    div.am-content
      h1.am-d.am-color-white-main Amine #[span.am-blob.am-blob--failure unstable]
      p.am-p.am-color-white-misc Balanced CSS library based on BEM and flex, currently in active development.

block body
  div.am-page-body
    div.am-content.am-content--sides
      div.am-content__main
        +side()
