extends pages/common/layout.pug

block body
  div.am-item.am-item--c12
    h1.am-h1 Amine
    p.am-p Amine is a balanced CSS library based on BEM and flex.
    ul
      li: a.am-link(href="/pages/text.html") Text
      li: a.am-link(href="/pages/form.html") Form
      li: a.am-link(href="/pages/layout.html") Layout
      li: a.am-link(href="/pages/elements.html") Elements
      li: a.am-link(href="/pages/components.html") Components
