extends pages/common/layout.pug
include pages/common/side.pug

block hero
  div.am-page-hero
    div.am-content
      h1.am-d Amine #[span.am-badge.am-badge--warning.am-sup unstable]
      p.am-p Balanced CSS library based on BEM and flex, currently in active development.

block body
  div.am-page-body
    div.am-content.am-content--sides
      div.am-content__main
        +side()
